.left-pane {
    height: 100%;
    padding: 5px;
}
.right-pane {
    height: 100%;
    padding: 5px;
}
.diff-text-pane {
    padding: 0 15px;
    /* height: 95%; */
    height: 75%;
    overflow: scroll;
    box-shadow: 0px 0px 1px 2px #363E4E;
}
.page-canvas {
    width: 100%;
    height: 100%;
}
.selected-text > textarea {
    width: 150px;
    border: 0;
}
/* tr:nth-child(even) {
    background-color: #f8f8f9;
} */
.canvas-pane {
    box-shadow: 0px 0px 1px 2px #363E4E;
    height: 95%;
    overflow: scroll;
}
.collate-pane {
    box-shadow: 0px 0px 1px 2px #363E4E;
    margin-top: 15px;
    overflow: scroll;
    height: 23%;
}
.submit-pane {
    margin-top: 5px;
}
.reel-text-region {
    position: fixed;
    overflow: scroll;
    height: 580px;
    margin: 20px;
}
.correct-submit {
    position: fixed;
    top: 600px;
    margin: 20px 20px;
}
.reel-text-compare {
    font-size: 22px;
    height: 580px;
}
.reel-textarea {
    font-size: 22px;
    width: 400px;
    height: 400px;
}
.correct-textarea {
    font-size: 22px;
    width: 600px;
    height: 600px;
}
.page-img {
    position: fixed;
    overflow: scroll;
    width: 760px;
    height: 400px;
}
.page-img-bg {
    height: 400px;
}
.deletedtext {
    background-color: #fdd;
}
.addedtext {
    background-color: #cfc;
}
.difftext {
    background-color: #fdd;
}
.difftextsel {
    color: red;
    background-color: #fdd;
}
.equaltextmodified {
    background-color: #cfc;
}
.seg-row-sel {
    font-size: 26px;
    background: lightblue;
}
.highlight-compare {
    background: lightblue;
}
.seg-row {
    font-size: 26px;
}
.doubt {
    background-color: #fdd;
}
.judge-base-text {
    padding: 10px;
    height: 400px;
    overflow: scroll;
    border: 1px #ccc solid;
}
ul.diffseg-region {
    list-style-type: none;
    padding: 10px 0px;
}
.diffseg-box {
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
.recheck-tag {
    background-color: yellow;
    margin-left: 10px;
}
.diffseg-tag-notext {
    background: #337ab7;
}
.diffseg-tag-notext-selected {
    background: darkred;
}
.diffseg-tag-white {
    display: inline-block;
    width: 4px;
}
.diffseg-tag-selected {
    color: red;
}
.diffseg-btn {
    margin-right: 10px;
}
.punct-region {
    padding: 10px;
    height: 700px;
    margin: 20px;
    overflow: scroll;
    border: 1px #ccc solid;
}