{% extends "base.html" %}
{% block title %}文字校对{% endblock %}
{% block content %}
<div id="correct">
  <div class="row content-container">
    <div class="col-md-7 left-pane">
      <div class="canvas-pane">
        <canvas id="page-canvas"></canvas>
      </div>
    </div>
    <div class="col-md-5 right-pane">
      <div class="collate-pane">
        <table class="table table-bordered">
          <thead style="background-color: darkorange;">
            <tr>
              {% if task.typ == 1 %}
              <th width="40%"> 比对本 </th>
              <th width="40%"> OCR </th>
              <th> 校对结果 </th>
              <th> </th>
              {% else %}
              <th width="40%"> 校一 </th>
              <th width="40%"> 校二 </th>
              <th> 我的校对结果 </th>
              <th> </th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr v-for="(seg, index) in sharedata.correctsegs" :class="getSegRowClass(seg)" @click="segrowClickHandler(seg)" :id="'segrow-' + seg.id">
              <td v-if="seg.tag == 2" v-html="seg.text1" @dblclick="selectText(seg, index, 1)"></td>
              <td v-if="seg.tag == 2"v-html="seg.text2" @dblclick="selectText(seg, index, 2)"></td>
              <td v-if="seg.tag == 2"><textarea rows="1" v-model="seg.selected_text" @input="segrowInput(seg, index)"></textarea></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="diff-text-pane">
        <div class="reel-text-region-o">
          <div id="reel-text-compare" class="reel-text-compare">
            <span v-for="(seg, index) in sharedata.correctsegs" :id="'segdiff-' + seg.id"><span v-if="seg.tag == 1" v-html="seg.selected_text" :class="{ equaltextmodified: (seg.selected_text != seg.text2) }" @click="segClick(seg)" contenteditable="true" @input="segInput(seg, index, $event)"></span><span v-if="seg.tag == 2" v-html="getSegText(seg)" class="difftext" :class="{ difftextsel: (segid == seg.id) }" @click="segClick(seg)" contenteditable="true" @input="segInput(seg, index, $event)"></span><span v-if="seg.tag == 3" v-html="seg.selected_text" contenteditable="true" @input="segParagraphMarkInput(seg, index, $event)"></span><span v-if="seg.tag == 4" contenteditable="true" @click="segLinefeedClick(seg, index)" @input="segLinefeedInput(seg, index, $event)" v-html="getLineFeedHtml(seg)"></span></span>
          </div>
        </div>
      </div>
      <div class="submit-pane">
        <div class="correct-submit-o">
          <button type="submit" class="btn btn-primary" id="finished-task" :disabled="sharedata.status == 4" @click="finishTask()">完成</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block foot_script %}
<script>
  var app = new Vue({
    el: '#correct',
    data: {
      result: '',
      segid: 0,
      start_vol_page: 1,
      image_url_prefix: '',
      page_no: 1,
      line_no: 1,
      char_no: 1,
      row_in_text: 1,
      submit_title: '',
      sharedata: {task_id: {{ task.id }}, status: 0, correctsegs: []  }
    },
    created: function() {
      var vm = this
      axios.get('/api/correct/' + vm.sharedata.task_id + '/')
      .then(function(response) {
        vm.result = response.data.result;
        vm.sharedata.status = response.data.status;
        vm.start_vol_page = response.data.start_vol_page;
        vm.image_url_prefix = response.data.image_url_prefix;
        vm.segid = response.data.cur_focus;
        if (vm.sharedata.status == 4) {
          vm.submit_title = '已完成';
        } else {
          vm.submit_title = '';
        }
        vm.loadImage();
      });
      this.loadCorrectSegs();
    },
    methods: {
      getSegRowClass: function(seg) {
        if (this.segid == seg.id) {
          return 'seg-row-sel';
        }
        return 'seg-row';
      },
      getSegText: function(seg) {
        if (seg.selected_text != '') {
          return seg.selected_text;
        }
        return ' ';
      },
      setImg: function(img_url, x, y, w, h) {
        //console.log('setImg: ', img_url)
        var canvas = document.getElementById("page-canvas");
        var context = canvas.getContext("2d");
        var image = new Image();
        image.onload = function () {
          canvas.width = canvas.width;
          canvas.height = image.height;
          canvas.width = image.width;

          x = ~~x; y = ~~y; w = ~~w; h = ~~h;

          context.scale(0.8, 0.8);
          context.drawImage(image, 0, 0);

          //设置样式
          context.lineWidth = 1;
          context.strokeStyle = "#F5270B";
          context.fillStyle = "#F5270BA0";
          //绘制
          context.strokeRect(x, y, w, h);
          context.fillRect(x, y, w, h);

          let wrapper_h = $('.canvas-pane').innerHeight();
          let wrapper_w = $('.canvas-pane').innerWidth();
          let trans_y = y*0.8 > wrapper_h-100 ? y*0.8-wrapper_h/2: 0;
          let trans_x = x*0.8 > wrapper_w-100 ? x*0.8-wrapper_w/2: 0;
          $('.canvas-pane').scrollTop(~~trans_y);
          $('.canvas-pane').scrollLeft(~~trans_x);
        };
        image.src = img_url;
      },
      loadImage: function() {
        var vol_page = this.start_vol_page + this.page_no - 1;
        var url_prefix = 'https://s3.cn-north-1.amazonaws.com.cn/lqdzj-image' + this.image_url_prefix + vol_page.toString();
        var img_url = url_prefix + '.jpg';
        var cut_url = url_prefix + '.cut';
        var vm = this;
        axios.get(cut_url).then(function(response) {
          var char_data = response.data['char_data'];
          for(var i = 0; i < char_data.length; ++i) {
            var v = char_data[i];
            var line_no = v['line_no'];
            var char_no = v['char_no'];
            if (line_no == vm.line_no && char_no == vm.char_no) {
              vm.setImg(img_url, v['x'], v['y'], v['w'], v['h']);
            }
          }
        });
      },
      getLineFeedHtml: function(seg) {
        if (seg.selected_text == '\n') {
          return '&nbsp;&nbsp;<br />';
        } else {
          return '';
        }
      },
      segrowInput: function(seg, index) {
        this.updateCorrectSeg(seg);
      },
      selectText: function(seg, index, no) {
        if (no == 1) {
          seg.selected_text = seg.text1;
        } else {
          seg.selected_text = seg.text2;
        }
        this.updateCorrectSeg(seg);
      },
      segrowClickHandler: function(seg) {
        this.segid = seg.id;
        var selection = window.getSelection();
        //console.log(selection)
        var cursor_offset = selection.focusOffset;
        this.page_no = seg.page_no;
        this.line_no = seg.line_no;
        this.char_no = seg.char_no + cursor_offset;
        this.loadImage();
        this.moveSegDiffToView(seg.id);

        // this.position = seg.position;
        // var textarea = document.getElementById('correct-textarea');
        // var selectionStart = seg.position;
        // var selectionEnd = seg.position+seg.selected_text.length;
        // textarea.setSelectionRange( selectionStart, selectionEnd);
        // console.log(textarea.clientHeight, textarea.height)
        // var lineHeight = 30.4;
        // console.log(lineHeight, textarea.scrollTop, this.row_in_text)
        // textarea.scrollTop = lineHeight * (this.row_in_text - 1);
      },
      moveSegDiffToView: function(segid) {
        try {
          // move segdiff to view
          var offset = $('div.diff-text-pane').scrollTop() + $('#segdiff-' + segid).position().top - 360;
          $('div.diff-text-pane').animate({
            scrollTop: offset
          }, 500);
        } catch(err) {
          console.log('moveSegDiffToView: ', err)
        }
      },
      moveSegRowToView: function(segid) {
        try {
          let scrollTop = $('#segrow-' + segid).data('scrollTop')
          if (!scrollTop) {
            scrollTop = $('#segrow-' + segid).position().top
                      - $('.collate-pane').offset().top
                      + $('.collate-pane').scrollTop();
            $('#segrow-' + segid).data('scrollTop', scrollTop);
          }
          $('.collate-pane').animate({scrollTop: scrollTop }, 500);
        } catch(err) {
          console.log('moveSegRowToView: ', err)
        }
      },
      segClick: function(seg) {
        // 文本差异的correctseg进入可视区
        this.segid = seg.id;
        this.moveSegRowToView(seg.id);
        var selection = window.getSelection();
        var cursor_offset = selection.focusOffset;
        this.page_no = seg.page_no;
        this.line_no = seg.line_no;
        this.char_no = seg.char_no + cursor_offset;
        this.loadImage();
      },
      segLinefeedClick: function(seg, index) {
        this.page_no = seg.page_no;
        this.line_no = seg.line_no;
        this.char_no = seg.char_no;
        this.loadImage();
      },
      segInput: function(seg, index, e) {
        var newtext = e.target.innerText;
        var selection = window.getSelection();
        var cursor_offset = selection.focusOffset;
        // console.log('segInput: ', e, newtext, seg.selected_text, cursor_offset);
        // TODO: prevent specific chars
        seg.selected_text = newtext;
        setTimeout(function(){
          var textNode = e.target.firstChild;
          var caret = cursor_offset;
          var range = document.createRange();
          range.selectNode(textNode)
          range.setStart(textNode, caret);
          range.collapse(true);
          e.target.focus();
          selection = window.getSelection();
          selection.removeAllRanges();
          selection.addRange(range); 
        }, 10);

        this.updateCorrectSeg(seg);
      },
      segParagraphMarkInput: function(seg, index, e) {
        var newtext = e.target.innerText;
        var selection = window.getSelection();
        var cursor_offset = selection.focusOffset;
        seg.selected_text = newtext;
      },
      segLinefeedInput: function(seg, index, e) {
        //console.log(e);
        var newtext = e.target.innerText;
        if (e.inputType == 'insertParagraph') {
          seg.selected_text = '\n';
          e.target.innerHTML = this.getLineFeedHtml(seg);
        } else if (newtext.length <= 2) { // 删除一次去掉换行
          seg.selected_text = '';
        } else {
          seg.selected_text = '\n';
        }
      },
      loadCorrectSegs: function() {
        var vm = this
        axios.get('/api/correct/' + vm.sharedata.task_id + '/correctsegs/')
        .then(function(response) {
          vm.sharedata.correctsegs = response.data;
          for(var i = 0; i < vm.sharedata.correctsegs.length; ++i) {
            var seg = vm.sharedata.correctsegs[i];
            if (seg.id == vm.segid) {
              vm.page_no = seg.page_no;
              vm.line_no = seg.line_no;
              vm.char_no = seg.char_no;
            }
          }

          vm.loadImage();
          setTimeout(function() {
            vm.moveSegRowToView(vm.segid);
            vm.moveSegDiffToView(vm.segid);
          }, 1000);
        });
      },
      updateCorrectSeg: function(seg) {
        console.log('update: ', seg)
        var vm = this
        axios.put('/api/correct/' + vm.sharedata.task_id + '/correctsegs/' + seg.id + '/', {
          selected_text: seg.selected_text,
          doubt_comment: seg.doubt_comment
        })
        .then(function(response) {
          console.log(response);
        });
      },
      finishTask: function() {
        var vm = this;
        axios.post('/api/correct/' + this.sharedata.task_id + '/finish/')
        .then(function(response) {
          vm.sharedata.status = response.data.status;
          alert('提交成功！');
        })
        .catch(function (error) {
          vm.error = '提交出错！';
        });
      }
    }
  });
</script>
{% endblock %}