{% extends "base.html" %}
{% block title %}{{ task.reel }}文字校对{% endblock %}
{% block content %}
<form action="" method="POST">
      {{ csrf_input }}
  <div class="content-container">
    <div class="col-md-7 left-pane">
      <div class="canvas-pane">
        <canvas id="page-canvas"></canvas>
      </div>
      <div class="collate-pane">
        <b>与底本比对有差异的文本段</b>
        <table class="table table-bordered table-condensed">
          <thead style="background-color: darkorange;">
            <tr>
              <th width="40%"> OCR </th>
              <th width="40%"> 比对本 </th>
              <th> 我的选择 </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
                  {% if sort_index_lst %}
            <a href="/correct/{{ task.id }}/">按位置排序</a>
                  {% for seg_index, ch in sort_index_lst %}
                  {% set seg=segs[seg_index] %}
            <tr class="seg-row" id="segrow_{{ seg.id }}" seg-index="{{ seg_index }}" seg-id="{{ seg.id }}">
              <td class="ocr-text"> {{ seg.ocr_text }} </td>
              <td class="base-text"> {{ seg.base_text }} </td>
              <td class="selected-text">
                <textarea class="segtext{% if seg.doubt_comment %} doubt{% endif %}" rows="1" id="segtext_{{ seg.id }}" name="segtext_{{ seg.id }}" index="{{ seg_index }}">{{ seg.selected_text }}</textarea>
                <input type="hidden" name="segpage_{{ seg.id }}" id="segpage_{{ seg.id }}" value=""/>
                <input type="hidden" name="segline_{{ seg.id }}" id="segline_{{ seg.id }}" value=""/>
                <input type="hidden" name="segchar_{{ seg.id }}" id="segchar_{{ seg.id }}" value=""/>
                <input type="hidden" name="segpos_{{ seg.id }}" id="segpos_{{ seg.id }}" value=""/>
              </td>
              <td>
                <a class="btn btn-default doubt-btn" data-toggle="modal" data-target="#doubt-modal-{{ seg.id }}">存疑</a>
                <div class="modal" id="doubt-modal-{{seg.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">存疑意见</h4>
                      </div>
                      <div class="modal-body">
                        <textarea class="doubt-textarea" name="segdoubt_{{ seg.id }}" id="segdoubt_{{ seg.id }}" rows="3" cols="40">{{ seg.doubt_comment }}</textarea>
                      </div>
                      <div class="modal-footer">
                        <a type="button" class="btn btn-primary doubt-cancel" seg-id="{{ seg.id }}" data-dismiss="modal">取消</a>
                        <a type="button" class="btn btn-primary doubt-ok" seg-id="{{ seg.id }}" data-dismiss="modal">确定</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
                  {% endfor %}
                  {% else %}
            <a href="/correct/{{ task.id }}/?order_by=char">按字排序</a>
                  {% for seg in segs %}
                  {% if seg.ocr_text != seg.base_text %}
            <tr class="seg-row" id="segrow_{{ seg.id }}" seg-index="{{ loop.index0 }}" seg-id="{{ seg.id }}">
              <td class="ocr-text">
                {{ seg.ocr_text }}
              </td>
              <td class="base-text">
                {{ seg.base_text }}
              </td>
              <td class="selected-text">
                <textarea class="segtext{% if seg.doubt_comment %} doubt{% endif %}" rows="1" id="segtext_{{ seg.id }}" name="segtext_{{ seg.id }}">{{ seg.selected_text }}</textarea>
                <input type="hidden" name="segpage_{{ seg.id }}" id="segpage_{{ seg.id }}" value=""/>
                <input type="hidden" name="segline_{{ seg.id }}" id="segline_{{ seg.id }}" value=""/>
                <input type="hidden" name="segchar_{{ seg.id }}" id="segchar_{{ seg.id }}" value=""/>
                <input type="hidden" name="segpos_{{ seg.id }}" id="segpos_{{ seg.id }}" value=""/>
              </td>
              <td>
                <a class="btn btn-default doubt-btn" data-toggle="modal" data-target="#doubt-modal-{{ seg.id }}">存疑</a>
                <div class="modal" id="doubt-modal-{{seg.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">存疑意见</h4>
                      </div>
                      <div class="modal-body">
                        <textarea class="doubt-textarea" name="segdoubt_{{ seg.id }}" id="segdoubt_{{ seg.id }}" rows="3" cols="40">{{ seg.doubt_comment }}</textarea>
                      </div>
                      <div class="modal-footer">
                        <a type="button" class="btn btn-primary doubt-cancel" seg-id="{{ seg.id }}" data-dismiss="modal">取消</a>
                        <a type="button" class="btn btn-primary doubt-ok" seg-id="{{ seg.id }}" data-dismiss="modal">确定</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5 right-pane">
      <div class="diff-text-pane">
        <div class="reel-text-region-o">
          <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">比对结果</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">卷文本</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">CBETA</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="panel1" role="tabpanel">
              <div id="reel-text-compare" class="reel-text-compare">
              </div>
            </div>
            <div class="tab-pane" id="panel2" role="tabpanel">
              <div class="form-group">
                <textarea id="reel-text" name="reel_text" class="reel-textarea"></textarea>
              </div>
            </div>
            <div class="tab-pane" id="panel3" role="tabpanel">
              <div id="reel-basetext" class="reel-basetext">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-pane">
        <div class="correct-submit-o">
          <input type="hidden" id="input-finished" name="finished" value="0"/>
          <button type="submit" class="btn btn-primary">暂存</button>
          <button type="submit" class="btn btn-primary" id="finished-task">完成</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block foot_script %}
<script>
  $(function(){
    var base_text = '{{ base_text|safe }}';
    var segs = {{ segs_json|safe }};
    var separators = {{ task.separators|safe }};
    var segid_index_map = {};
    for (var i = 0; i < segs.length; ++i) {
      segid_index_map[segs[i].id] = i;
    }

    $('#finished-task').click(function(e) {
      $('#input-finished').val('1');
    });

    // $('#reel-text').keydown(function(e) {
    //   if (e.which != 13 && e.which != 80 && e.which != 8 && e.which != 46) {
    //     return false;
    //   }
    // });
    $('#reel-text').change(function(e){
      separators = extract_separators($(this).val());
    })

    var load_reel_text = function() {
      var cmptexts = [];
      var reeltexts = ['p\n'];
      var base_length = base_text.length;

      var text_lst = [];
      var base_pos = 0;
      // 先将seg与base_text合并
      var seg_idx = 0;
      while (seg_idx < segs.length) {
        // seg前的文本
        //console.log('seg: ', segs[seg_idx], seg_idx);
        if (segs[seg_idx].base_pos > base_pos) {
          var length = segs[seg_idx].base_pos - base_pos;
          text_lst.push( {
            'type': 'equal',
            'selected_text': base_text.substr(base_pos, length)
          });
        }

        // 处理当前seg
        text_lst.push( {
          'type': 'diff',
          'base_text': segs[seg_idx].base_text,
          'selected_text': segs[seg_idx].selected_text,
          'seg_index': seg_idx
        });
        base_pos = segs[seg_idx].base_pos + segs[seg_idx].base_text.length;
        ++seg_idx;
      }

      // 将separators与text_lst合并
      var sep_idx = 0;
      var pos = 0;
      var new_text_lst = [];
      var text_idx = 0;
      while (text_idx < text_lst.length) {
        if (sep_idx < separators.length) {
          while (pos < separators[sep_idx][0]) {
            //插入separator位置前的文本
            var next_pos = pos + text_lst[text_idx].selected_text.length;
            if (next_pos <= separators[sep_idx][0]) { // 直接插入
              new_text_lst.push( text_lst[text_idx] );
              ++text_idx;
              pos = next_pos;
            } else {
              var cut_length = separators[sep_idx][0] - pos; // 插入前一部分
              if (text_lst[text_idx].type == 'equal') {
                new_text_lst.push( {
                  'type': 'equal',
                  'selected_text': text_lst[text_idx].selected_text.substr(0, cut_length)
                });
                text_lst[text_idx].selected_text = text_lst[text_idx].selected_text.substr(cut_length);
              } else {
                var cut_base_length = cut_length;
                var new_base_text = '';
                var cut_base_text = '';
                if (text_lst[text_idx].base_text.length < cut_base_length) {
                  cut_base_length = text_lst[text_idx].base_text.length;
                  cut_base_text = text_lst[text_idx].base_text;
                } else {
                  new_base_text = text_lst[text_idx].base_text.substr(cut_base_length);
                  cut_base_text = text_lst[text_idx].base_text.substr(0, cut_base_length);
                }
                new_text_lst.push( {
                  'type': 'diff',
                  'base_text': cut_base_text,
                  'selected_text': text_lst[text_idx].selected_text.substr(0, cut_length),
                  'seg_index': text_lst[text_idx].seg_index
                });
                text_lst[text_idx].base_text = new_base_text;
                text_lst[text_idx].selected_text = text_lst[text_idx].selected_text.substr(cut_length);
              }
              pos = pos + cut_length;
            }
          }
          //插入separator
          new_text_lst.push({
            'type': separators[sep_idx][1]
          });
          ++sep_idx;
        } else { //已没有separator
          while (text_idx < text_lst.length) {
            new_text_lst.push( text_lst[text_idx] );
            ++text_idx;
          }
        }
      }

      var page_no = 1;
      var line_no = 1;
      var char_no = 1;
      pos = 0;
      var last_text_type = 'equal';
      var last_seg_index = -1;
      for (var i = 0; i <= new_text_lst.length; ++i) {
        var type = '';
        if (i < new_text_lst.length) {
          type = new_text_lst[i].type;
        }
        if (type == 'diff') {
          var seg_idx = new_text_lst[i].seg_index;
          if (seg_idx != last_seg_index) {
            if (last_seg_index != -1) {
              cmptexts.push('</span>');
              last_seg_index = seg_idx;
            }
            cmptexts.push('<span class="seg-diff" seg-id="' + segs[seg_idx].id + '" id="seg-diff-' + segs[seg_idx].id + '">');
            last_text_type = 'diff';
            segs[seg_idx].page_no = page_no;
            segs[seg_idx].line_no = line_no;
            segs[seg_idx].char_no = char_no;
            segs[seg_idx].pos = pos;
            $('#segpage_' + segs[seg_idx].id).val(page_no);
            $('#segline_' + segs[seg_idx].id).val(line_no);
            $('#segchar_' + segs[seg_idx].id).val(char_no);
            $('#segpos_' + segs[seg_idx].id).val(pos);
          }

          if (new_text_lst[i].base_text != '') {
            cmptexts.push('<span class="deletedtext"><del>' + new_text_lst[i].base_text + '</del></span>');
          }
          if (new_text_lst[i].selected_text != '') {
            cmptexts.push('<span class="addedtext">' + new_text_lst[i].selected_text + '</span>');
            reeltexts.push(new_text_lst[i].selected_text);
            char_no += new_text_lst[i].selected_text.length;
            pos += new_text_lst[i].selected_text.length;
          }
          last_seg_index = new_text_lst[i].seg_index;
        } else {
          if (type == 'p') {
            cmptexts.push('<br /><br />');
            reeltexts.push('\np\n');
            ++page_no;
            line_no = 1;
            char_no = 1;
          } else if (type == '\n') {
            cmptexts.push('<br />');
            reeltexts.push('\n');
            line_no += 1;
            char_no = 1;
          } else if (type == 'equal') {
            if (last_text_type == 'diff') {
              cmptexts.push('</span>');
              last_seg_index = -1;
            }

            cmptexts.push(new_text_lst[i].selected_text);
            reeltexts.push(new_text_lst[i].selected_text);
            char_no += new_text_lst[i].selected_text.length;
            pos += new_text_lst[i].selected_text.length;
            last_text_type = type;
          }
        }
      }

      $('#reel-text-compare').html(cmptexts.join(''));
      $('#reel-text').val(reeltexts.join(''));

      $('.seg-diff').click(function() {
        var seg_id = $(this).attr('seg-id');
        var index = segid_index_map[seg_id];
        load_page_image(index);
        let scrollTop = $('#segrow_' + seg_id).data('scrollTop')
        if (!scrollTop) {
          scrollTop = $('#segrow_' + seg_id).position().top
                    - $('.collate-pane').offset().top
                    + $('.collate-pane').scrollTop();
          $('#segrow_' + seg_id).data('scrollTop', scrollTop);
        }
        $('.collate-pane').animate({scrollTop: scrollTop }, 500);
        $('#segrow_' + seg_id).fadeOut(500).fadeIn(500);
      });
    };

    var segtext_change = function(index, newtext) {
      var old_length = segs[index].selected_text.length;
      var new_length = newtext.length;
      var length_diff = new_length - old_length;
      if (new_length != old_length) { // 需要将当前seg后的所有seg的位置更新，并更新后面的分隔符的位置
        for (var i = index + 1; i < segs.length; ++i) {
          segs[i].pos += length_diff;
        }
        var pos = segs[index].pos;
        for (var i = 0; i < separators.length; ++i) {
          if (separators[i][0] > pos) {
            separators[i][0] += length_diff;
          }
        }
      }
      segs[index].selected_text = newtext;
    };

    $('.segtext').change(function() {
      var index = parseInt($(this).parent().parent().attr('seg-index'));
      segtext_change(index, $(this).val());
      load_reel_text();
    });
    $('.ocr-text').dblclick(function() {
      var textarea = $(this).parent().find('textarea.segtext');
      var index = parseInt($(this).parent().attr('seg-index'));
      segtext_change(index, segs[index].ocr_text);
      textarea.val(segs[index].selected_text);
      load_reel_text();
    });
    $('.base-text').dblclick(function() {
      var textarea = $(this).parent().find('textarea.segtext');
      var index = parseInt($(this).parent().attr('seg-index'));
      segtext_change(index, segs[index].base_text);
      textarea.val(segs[index].selected_text);
      load_reel_text();
    });
    var setImg = function (img_url, x, y, w, h) {
        var canvas = document.getElementById("page-canvas");
        var context = canvas.getContext("2d");
        var image = new Image();
        image.onload = function () {
            canvas.width = canvas.width;
            canvas.height = image.height;
            canvas.width = image.width;

            x = ~~x; y = ~~y; w = ~~w; h = ~~h;

            context.scale(0.8, 0.8);
            context.drawImage(image, 0, 0);

            //设置样式
            context.lineWidth = 1;
            context.strokeStyle = "#F5270B";
            context.fillStyle = "#F5270BA0";
            //绘制
            context.strokeRect(x, y, w, h);
            context.fillRect(x, y, w, h);

            let wrapper_h = $('.canvas-pane').innerHeight();
            let wrapper_w = $('.canvas-pane').innerWidth();
            let trans_y = y*0.8 > wrapper_h-100 ? y*0.8-wrapper_h/2: 0;
            let trans_x = x*0.8 > wrapper_w-100 ? x*0.8-wrapper_w/2: 0;
            $('.canvas-pane').scrollTop(~~trans_y);
            $('.canvas-pane').scrollLeft(~~trans_x);
        };
        image.src = img_url;
    }
    var load_page_image = function(index) {
      var vol_page_no = {{ start_vol_page }} + segs[index].page_no - 1;
      var page_code = vol_page_no.toString();
      var url_prefix = '{{ image_url_prefix + task.reel.url_prefix() }}';
      var url = url_prefix + page_code + '.jpg';
      var cutline_url = url_prefix + page_code + '.cut';
      $.getJSON(cutline_url, function(data) {
        $.each(data['char_data'], function(k, v){
          var line_no = parseInt(v['line_no']);
          var char_no = parseInt(v['char_no']);
          if (line_no == segs[index].line_no && char_no == segs[index].char_no) {
            setImg(url, v['x'], v['y'], v['w'], v['h']);
            // $('div.canvas-pane').scrollTop(v['y'] - 470);
          }
        });
      });
    };
    $('.seg-row').click(function() {
      var seg_id = $(this).attr('seg-id');
      $('.seg-diff').removeAttr('style');
      $('#seg-diff-' + seg_id).attr('style', 'color:red;');
      var index = parseInt($(this).attr('seg-index'));
      load_page_image(index);
      let offset = $(this).attr('scrollTop')
      if (!offset) {
        offset = $('div.diff-text-pane').scrollTop() + $('#seg-diff-' + seg_id).position().top - 60;
        $(this).attr('scrollTop', offset);
      }
      $('div.diff-text-pane').animate({
        scrollTop: offset
      }, 500);
    });
    $('.doubt-ok').click(function(e) {
      var seg_id = $(this).attr('seg-id');
      var index = parseInt($('#segrow_' + seg_id).attr('seg-index'));
      segs[index].doubt_comment = $('#segdoubt_' + seg_id).val();
      if (segs[index].doubt_comment) {
        $('#segtext_' + seg_id).addClass('doubt');
      } else {
        $('#segtext_' + seg_id).removeClass('doubt');
      }
    });
    $('.doubt-cancel').click(function(e) {
      var seg_id = $(this).attr('seg-id');
      var index = parseInt($('#segrow_' + seg_id).attr('seg-index'));
      segs[index].doubt_comment = '';
      $('#segdoubt_' + seg_id).val('');
      $('#segtext_' + seg_id).removeClass('doubt');
    });

    load_reel_text();
    load_page_image(0);
    $('#reel-basetext').html(base_text.replace(/^p\n/, '').replace(/\np\n/g, '<br />').replace(/\n/g, '<br />'))

    $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
    });
    $('#reel-text').width($('.reel-text-region-o').innerWidth());
    $('#reel-text').height($('.diff-text-pane').innerHeight());
  });
</script>
{% endblock %}
