{% extends "base.html" %}
{% block title %}文字校对审定{% endblock %}
{% block content %}
<div id="correct-verify">
  <div class="content-container">
    <div class="col-md-7 left-pane">
      <div class="canvas-pane">
        <canvas id="page-canvas"></canvas>
      </div>
    </div>
    <div class="col-md-5 right-pane">
      <div class="collate-pane">
        <table class="table table-bordered">
          <thead style="background-color: darkorange;">
            <tr>
              <th width="40%"> 校一 </th>
              <th width="40%"> 校二 </th>
              <th> 我的校对结果 </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr class="seg-row" v-for="(seg, index) in sharedata.correctdiffsegs">
              <td v-html="seg.text1"></td>
              <td v-html="seg.text2"></td>
              <td><textarea rows="1" v-model="seg.selected_text" @input="segchange(seg, index, $event)"></textarea></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="diff-text-pane">
        <div class="reel-text-region-o">
          <textarea class="correct-textarea" v-model="result" @click="reeltextClickHandler" @input="inputHandler"></textarea>
        </div>
      </div>
      <div class="submit-pane">
        <div class="correct-submit-o">
          <input type="hidden" id="input-finished" name="finished" value="0"/>
          <button type="submit" class="btn btn-primary">暂存</button>
          <button type="submit" class="btn btn-primary" id="finished-task" @click="finishTask()">完成</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block foot_script %}
<script src="{{ static('custom/js/correct.js') }}"></script>
<script>
  var app = new Vue({
    el: '#correct-verify',
    data: {
      result: '',
      page_no: 1,
      line_no: 1,
      char_no: 1,
      position: 0,
      submit_title: '',
      sharedata: {task_id: {{ task_id }}, status: 0, correctdiffsegs: []  }
    },
    created: function() {
      var vm = this
      axios.get('/api/verify_correct/' + vm.sharedata.task_id + '/')
      .then(function(response) {
        vm.result = response.data.result;
        vm.sharedata.status = response.data.status;
        vm.start_vol_page = response.data.start_vol_page;
        vm.image_url_prefix = response.data.image_url_prefix;
        if (vm.sharedata.status == 4) {
          vm.submit_title = '已完成';
        } else {
          vm.submit_title = '';
        }
        vm.loadImage();
      });
      this.loadCorrectDiffSegs();
    },
    watch: {
      position: function() {
        this.computePosition();
        this.loadImage();
      }
    },
    methods: {
      setImg: function(img_url, x, y, w, h) {
        console.log('setImg: ', img_url)
        var canvas = document.getElementById("page-canvas");
        var context = canvas.getContext("2d");
        var image = new Image();
        image.onload = function () {
          canvas.width = canvas.width;
          canvas.height = image.height;
          canvas.width = image.width;

          x = ~~x; y = ~~y; w = ~~w; h = ~~h;

          context.scale(0.8, 0.8);
          context.drawImage(image, 0, 0);

          //设置样式
          context.lineWidth = 1;
          context.strokeStyle = "#F5270B";
          context.fillStyle = "#F5270BA0";
          //绘制
          context.strokeRect(x, y, w, h);
          context.fillRect(x, y, w, h);

          let wrapper_h = $('.canvas-pane').innerHeight();
          let wrapper_w = $('.canvas-pane').innerWidth();
          let trans_y = y*0.8 > wrapper_h-100 ? y*0.8-wrapper_h/2: 0;
          let trans_x = x*0.8 > wrapper_w-100 ? x*0.8-wrapper_w/2: 0;
          $('.canvas-pane').scrollTop(~~trans_y);
          $('.canvas-pane').scrollLeft(~~trans_x);
        };
        image.src = img_url;
      },
      loadImage: function() {
        var vol_page = this.start_vol_page + this.page_no - 1;
        var url_prefix = 'https://s3.cn-north-1.amazonaws.com.cn/lqdzj-image' + this.image_url_prefix + vol_page.toString();
        var img_url = url_prefix + '.jpg';
        var cut_url = url_prefix + '.cut';
        var vm = this;
        axios.get(cut_url).then(function(response) {
          var char_data = response.data['char_data'];
          for(var i = 0; i < char_data.length; ++i) {
            var v = char_data[i];
            var line_no = v['line_no'];
            var char_no = v['char_no'];
            if (line_no == vm.line_no && char_no == vm.char_no) {
              vm.setImg(img_url, v['x'], v['y'], v['w'], v['h']);
            }
          }
        });
      },
      segchange: function(seg, index, event) {
        console.log(seg.selected_text);
        var new_result = this.result.substr(0, seg.position) + seg.selected_text +
        this.result.substr(seg.position + seg.oldtext.length);
        this.result = new_result;
        var len_diff = seg.selected_text.length - seg.oldtext.length;
        if (len_diff != 0) {
          for(var i = index + 1; i < this.sharedata.correctdiffsegs.length; ++i) {
            var diffseg = this.sharedata.correctdiffsegs[i];
            diffseg.position += len_diff;
            console.log(diffseg.position);
          }
        }

        seg.oldtext = seg.selected_text;
      },
      computePosition: function() {
        var page_no = 1;
        var line_no = 1;
        var char_no = 1;
        var last_ch = '';
        for (var i = 0; i < this.position; ++i) {
          switch (this.result[i]) {
            case 'p':
            if (last_ch != '') {
              page_no += 1;
              line_no = 1;
              char_no = 1;
            }
            break;
            
            case '\n':
            if (last_ch != 'p') {
              line_no += 1;
              char_no = 1;
            }
            break;

            default:
            char_no += 1;
            break;
          }

          last_ch = this.result[i];
        }
        this.page_no = page_no;
        this.line_no = line_no;
        this.char_no = char_no;
        console.log('computePosition: ', page_no, line_no, char_no);
      },
      reeltextClickHandler: function(e) {
        this.position = e.target.selectionStart;
      },
      inputHandler: function(e) {
        var selection = window.getSelection();
        var cursor_offset = selection.focusOffset;
        console.log(cursor_offset);
        console.log(e.target.selectionStart);
      },
      loadCorrectDiffSegs: function() {
        var vm = this
        axios.get('/api/verify_correct/' + vm.sharedata.task_id + '/correctdiffsegs/')
        .then(function(response) {
          vm.sharedata.correctdiffsegs = response.data;
          for(var i = 0; i < vm.sharedata.correctdiffsegs.length; ++i) {
            var seg = vm.sharedata.correctdiffsegs[i];
            seg.oldtext = seg.selected_text;
          }
          console.log(vm.sharedata.correctdiffsegs);
        });
      },
      finishTask: function() {
        var vm = this;
        axios.post('/api/verify_correct/' + this.sharedata.task_id + '/finish/', {
          result: vm.result
        })
        .then(function(response) {
          alert('提交成功！');
        })
        .catch(function (error) {
          vm.error = '提交出错！';
        });
      }
    }
  });
</script>
{% endblock %}