{% extends "base.html" %}
{% block style %}
<style type="text/css">
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
</style>
{% endblock %}

{% block content %}
<div id="judge">
  <div class="container">
    <div class="row">
      <div class="judge-base-text" id="judge-base-text">
        <span v-for="e in merged_base_text">
            <span is="sutra-unit" :data="e" :sharedata="sharedata" v-on:diffpage="diffseg_curpage = $event"></span>
        </span>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <el-switch
                style="display: block;margin: 3px;"
                v-model="show_punct"
                active-color="lightslategrey"
                inactive-color="#ccc"
                active-text="显示标点"
                inactive-text="">
            </el-switch>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='jk-list'><b>校勘列表</b>
      {% if judge_task_ids %}
          <label for="show_all" style="float:right">显示所有</label><input type="checkbox" v-model="show_all" id="show_all" />
      {% endif %}
      </div>
      <ul class="diffseg-region">
        <li v-for="(diffsegresult, index) in sharedata.diffsegresults">
          <div is="diffseg-box" :diffsegresult="diffsegresult" :segindex="index" :sharedata="sharedata"></div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div class="el-pagination el-pagination--small" style="text-align: center">
          <el-pagination
            class="pull-right clearfix"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="pageNo"
            :page-sizes="pageSizesList"
            :page-size="pageSize"
            layout=" prev, pager, next, total"
            :total="totalDataNumber">
          </el-pagination>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <div style="text-align: center">
        <!-- <button class="btn btn-primary" :disabled="premitSubmit" :title="submit_title" @click.stop.prevent="finishJudgeTask" style="background: green;">提交</button> -->
        <el-button class="btn btn-primary" :disabled="premitSubmit" :title="submit_title" @click.stop.prevent="finishJudgeTask" type="success" size="small">提交</el-button>
      </div>
    </div>
    <div class="row">
      <div is="judge-dialog" :sharedata="sharedata" v-on:reload="judgeDone(diffseg_curpage)"></div>
      <div is="merge-dialog" :sharedata="sharedata" v-on:reload="mergeSplitDone(diffseg_curpage)"></div>
      <div is="split-dialog" :sharedata="sharedata" v-on:reload="mergeSplitDone(diffseg_curpage)"></div>
      <div is="show-split-dialog" :sharedata="sharedata"></div>
      <div is="judge-image-dialog" :sharedata="sharedata"></div>
      <div is="judge-page-dialog" :sharedata="sharedata"></div>
    </div>
  </div>
</div>


{% endblock %}
{% block foot_script %}

<script>
  var app = new Vue({
    el: '#judge',
    data: {
      pageNo: 1,
      pageSize: 5,
      pageSizesList: [5, 10, 15, 20, 30, 50],
      tableData: [],//返回的结果集合
      totalDataNumber: 0,//数据的总数,
      show_all: false,
      base_text: '',
      punct_lst: [],
      orig_separators: [],
      show_punct: true,
      diffseg_page_count: 1,
      diffseg_curpage: 1,
      merged_base_text: [],
      submit_title: '',
      
      sharedata: {
        result_marked_list:[],
        diffseg_pos_lst: [],
        task_id: {{ task.id }},
        task_typ: {{task.typ}},
        judge_task_ids: {{ judge_task_ids }},
        status: 0,
        submit_disabled: true,
        permit_modify: false,
        base_tripitaka_id: null,
        judgeDialogVisible: false,
        mergeDialogVisible: false,
        splitDialogVisible: false,
        judgeImageDialogVisible:false,
        judgePageDialogVisible: false,
        showSplitDialogVisible: false,
        segindex: -1,
        diffseg_id: 0,
        diffsegresults: [],
        image_diffseg_id: null,
        pageDialogInfo: null
      }
    },
    created: function() {
      var vm = this
      axios.get('/api/judge/' + vm.sharedata.task_id + '/')
      .then(function(response) {
        vm.base_text = response.data.base_text;
        vm.sharedata.diffseg_pos_lst = response.data.diffseg_pos_lst;
        vm.punct_lst = response.data.punct_lst;
        vm.orig_separators = response.data.orig_separators;
        vm.sharedata.base_tripitaka_id = response.data.base_tripitaka_id;
        vm.sharedata.status = response.data.status;
        vm.sharedata.is_verify = response.data.is_verify;
        vm.sharedata.tripitaka_info = response.data.tripitaka_info;
        // 获取文字是否已经处理的信息
        vm.reloadAllDiffsegs();

        vm.reloadDiffsegs(1); 
  
        if (vm.sharedata.status == 4) {
          vm.submit_title = '已完成';
        } else {
          vm.submit_title = '请判取完再提交';
        }
        if (!vm.sharedata.is_verify) {
          vm.show_all = true;
        }
        // 包括被Pause的情况
        if (vm.sharedata.status >= 4) {
          vm.sharedata.permit_modify = true
        }
      });
      this.checkAllSelected();
    },
    watch: {
      diffseg_curpage: function (newPage, oldPage) {
        this.reloadDiffsegs(newPage);
      },
      show_all: function(newValue, oldValue) {
        if (this.sharedata.is_verify) {
          this.reloadDiffsegs(1);
        }
      },
      show_punct: function(newValue, oldValue) {
        if (!this.sharedata.is_verify) {
          this.loadSutraText();
        } else {
          this.loadVerifySutraText();
        }
      },
      
    },
    computed: {
      premitSubmit: function () {
        if (this.sharedata.submit_disabled || this.sharedata.status >= 4 ) {
          this.sharedata.submit_disabled = true
        }
        return this.sharedata.submit_disabled
      },
    },
    methods: {
      loadSutraText: function() {
        // 加载底本经文
        if (this.show_punct) {
          this.merged_base_text = judge_merge_text_punct(this.base_text, this.sharedata.diffseg_pos_lst,
          'diffseg_id', this.punct_lst);
        } else {
          this.merged_base_text = judge_merge_text_punct(this.base_text, this.sharedata.diffseg_pos_lst,
          'diffseg_id', this.orig_separators);
        }
      },
      loadVerifySutraText: function() {
        // 加载底本经文
        diffseg_ids = _.map(this.sharedata.diffsegresults, function(v) { return v.diffseg.id; })
        diffseg_pos_lst = _.filter(this.sharedata.diffseg_pos_lst, function(v) { return diffseg_ids.indexOf(v.diffseg_id) != -1 })

        if (this.show_punct) {
          this.merged_base_text = judge_merge_text_punct(this.base_text, diffseg_pos_lst,
          'diffseg_id', this.punct_lst);
        } else {
          this.merged_base_text = judge_merge_text_punct(this.base_text, diffseg_pos_lst,
          'diffseg_id', this.orig_separators);
        }
      },
      prevPage: function() {
        if (this.diffseg_curpage > 1) {
          --this.diffseg_curpage;
        }
        return false;
      },
      //改变每页显示数量
      handleSizeChange(val){
        var likeThis = this;
        var pageSizewidth = `${val}`;
        this.pageNo = 1;
        this.pageSize = parseInt(pageSize);
        this.$nextTick(() =>
          this.getAndDraw(1,pageSize,function (resp) {
            likeThis.totalDataNumber = resp.data.Data.Total;
          })
        )
      },
      //改变页码
      handleCurrentChange(val){
        var pageSize = this.pageSize;
        this.diffseg_curpage = val;
        this.pageNo = val;
      },
      reloadDiffsegs: function(newPage) {
        var vm = this;
        var url = '';
        if (this.show_all) {
          url = '/api/judge/' + vm.sharedata.task_id + '/diffsegresults/?page=' + newPage;
        } else {
          url = '/api/judge/' + vm.sharedata.task_id + '/diffsegresults/?all_equal=0&page=' + newPage;
        }
        axios.get(url)
        .then(function(response) {
          var diffseg_count = response.data.count;
          if (diffseg_count > 1) {
            vm.diffseg_page_count = parseInt((diffseg_count - 1) / 5) + 1;
          }
          var diffseg_ids = [];
          var diffsegresults = response.data.results;
          var result_marked_list = vm.sharedata.result_marked_list;
          for (var i = 0; i < diffsegresults.length; ++i) {
            var diffsegtexts = diffsegresults[i].diffseg.diffsegtexts;
            var text_to_diffsegtexts = {};
            var text_count = 0;
            for (var j = 0; j < diffsegtexts.length; ++j) {
              var text = diffsegtexts[j].text;
              if (text == null) {
                continue;
              }
              if (text in text_to_diffsegtexts) {
                text_to_diffsegtexts[text].push(diffsegtexts[j]);
              } else {
                text_to_diffsegtexts[text] = [ diffsegtexts[j] ];
                text_count++;
              }
            }
            diffsegresults[i].text_to_diffsegtexts = text_to_diffsegtexts;
            diffsegresults[i].text_count = text_count;
            diffseg_ids.push(diffsegresults[i].diffseg.id);
            // console.log('-a-'+diffsegresults[i].diffseg.id)
          }
          //更新result_marked_list
          for (var i = 0; i < diffsegresults.length; ++i){
              var diffseg_id = result_marked_list[i].diffseg_id;
              if (diffsegresults[i].diffseg.id == diffseg_id){
                if (diffsegresults[i].selected_text == null){
                  result_marked_list[i].marked = false;
                }else{
                  result_marked_list[i].marked = true;
                }
                break;
              }
          }
          vm.sharedata.result_marked_list = result_marked_list;
          //触发换页
          vm.handleCurrentChange(newPage);
          //
          if (!vm.sharedata.is_verify) {
            vm.sharedata.diffsegresults = diffsegresults;
            vm.sharedata.segindex = 0;
            vm.loadSutraText();
            return ;
          }
          vm.sharedata.diffsegresults = diffsegresults;
          if (diffseg_ids.length > 0) {
            var diffseg_id_to_judge_results = {};
            for (var i = 0; i < vm.sharedata.judge_task_ids.length; ++i) {
              var task_id = vm.sharedata.judge_task_ids[i];
              url = '/api/judge/' + task_id + '/diffsegresults/?diffseg_id=' + diffseg_ids.join(',');
              axios.get(url).then(function(response) {
                var results = response.data.results;
                for (var j = 0; j < results.length; ++j) {
                  var diffseg_id = results[j].diffseg.id;
                  var diffsegresult = results[j];
                  if (diffseg_id in diffseg_id_to_judge_results) {
                    diffseg_id_to_judge_results[diffseg_id].push(diffsegresult);
                  } else {
                    diffseg_id_to_judge_results[diffseg_id] = [diffsegresult];
                  }
                }

                for (var i = 0; i < diffsegresults.length; ++i) {
                  var diffseg_id = diffsegresults[i].diffseg.id;
                  diffsegresults[i].judge_results = diffseg_id_to_judge_results[diffseg_id];
                }

                vm.sharedata.diffsegresults = diffsegresults;
                vm.sharedata.segindex = 0;
                vm.loadVerifySutraText();
              });
            }
          } else {
            vm.loadVerifySutraText();
          }
        });
       
      },
      //加载每个文字是否已经处理的信息
      reloadAllDiffsegs: function() {
        var vm = this;
        var url = '/api/get_judge/' + vm.sharedata.task_id + '/diffsegresults/?result_marked_list=1';
        
        axios.get(url)
        .then(function(response) {
          vm.sharedata.result_marked_list = response.data;
          vm.tableData = response.data;
          vm.totalDataNumber = response.data.length;
        });
       
      },
      checkAllSelected: function() {
        var vm = this
        axios.get('/api/judge/' + vm.sharedata.task_id + '/allselected/')
        .then(function(response) {
          vm.sharedata.submit_disabled = ! response.data.all_selected;
        })
      },
      setCurrentSeg: function (diffseg_id) {
        this.current_diffseg_id = diffseg_id;
      },
      judgeDone: function(newPage) {
        this.reloadDiffsegs(newPage);
        this.checkAllSelected();
      },
      mergeSplitDone: function(newPage) {
        this.reloadDiffsegs(newPage);
        this.checkAllSelected();
      },
      finishJudgeTask: function() {
        var vm = this;
        //判断是否全部修改
        for (var i in vm.sharedata.result_marked_list){
          marked = vm.sharedata.result_marked_list[i].marked;
          if (marked == false){
            alert('请判取完再提交！');
            vm.submit_title = '请判取完再提交';
            return;
          }
        }
        
        axios.post('/api/judge/' + this.sharedata.task_id + '/finish/')
        .then(function(response) {
          vm.sharedata.status = response.data.status;
          if (vm.sharedata.status == 4) {
            vm.sharedata.submit_disabled = true;
            vm.sharedata.permit_modify = true;
          }
          alert('提交成功！');
        })
        .catch(function (error) {
          vm.error = '提交出错！';
        });
      }
    }
  }); 
//重写alert  
window.alert = function(msg, callback) {  
        var div = document.createElement("div");  
        div.innerHTML = "<style type=\"text/css\">"  
                + ".nbaMask { position: fixed; z-index: 1000; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }                                                                                                                                                                       "  
                + ".nbaMaskTransparent { position: fixed; z-index: 1000; top: 0; right: 0; left: 0; bottom: 0; }                                                                                                                                                                                            "  
                + ".nbaDialog { position: fixed; z-index: 5000; width: 80%; max-width: 300px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; text-align: center; border-radius: 8px; overflow: hidden; opacity: 1; color: white; }"  
                + ".nbaDialog .nbaDialogHd { padding: .2rem .27rem .08rem .27rem; }                                                                                                                                                                                                                         "  
                + ".nbaDialog .nbaDialogHd .nbaDialogTitle { font-size: 17px; font-weight: 400; }                                                                                                                                                                                                           "  
                + ".nbaDialog .nbaDialogBd { padding: 0 .27rem; font-size: 15px; line-height: 6; word-wrap: break-word; word-break: break-all; color: #000000; }                                                                                                                                          "  
                + ".nbaDialog .nbaDialogFt { position: relative; line-height: 48px; font-size: 17px; display: -webkit-box; display: -webkit-flex; display: flex; }                                                                                                                                          "  
                + ".nbaDialog .nbaDialogFt:after { content: \" \"; position: absolute; left: 0; top: 0; right: 0; height: 1px; border-top: 1px solid #e6e6e6; color: #e6e6e6; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }               "  
                + ".nbaDialog .nbaDialogBtn { display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; color: #09BB07; text-decoration: none; -webkit-tap-highlight-color: transparent; position: relative; margin-bottom: 0; }                                                                       "  
                + ".nbaDialog .nbaDialogBtn:after { content: \" \"; position: absolute; left: 0; top: 0; width: 1px; bottom: 0; border-left: 1px solid #e6e6e6; color: #e6e6e6; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }             "  
                + ".nbaDialog a { text-decoration: none; -webkit-tap-highlight-color: transparent; }"  
                + "</style>"  
                + "<div id=\"dialogs2\" style=\"display: none\">"  
                + "<div class=\"nbaMask\"></div>"  
                + "<div class=\"nbaDialog\">"  
                + " <div class=\"nbaDialogHd\">"  
                + "     <strong class=\"nbaDialogTitle\"></strong>"  
                + " </div>"  
                + " <div class=\"nbaDialogBd\" id=\"dialog_msg2\">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>"  
                + " <div class=\"nbaDialogHd\">"  
                + "     <strong class=\"nbaDialogTitle\"></strong>"  
                + " </div>"  
                + " <div class=\"nbaDialogFt\">"  
                + "     <a href=\"javascript:;\" class=\"nbaDialogBtn nbaDialogBtnPrimary\" id=\"dialog_ok2\">确定</a>"  
                + " </div></div></div>";  
        document.body.appendChild(div);  
      
        var dialogs2 = document.getElementById("dialogs2");  
        dialogs2.style.display = 'block';  
      
        var dialog_msg2 = document.getElementById("dialog_msg2");  
        dialog_msg2.innerHTML = msg;  
      
        // var dialog_cancel = document.getElementById("dialog_cancel");  
        // dialog_cancel.onclick = function() {  
        // dialogs2.style.display = 'none';  
        // };  
        var dialog_ok2 = document.getElementById("dialog_ok2");  
        dialog_ok2.onclick = function() {  
            dialogs2.style.display = 'none';  
            callback();  
        };  
    };  
</script>
{% endblock %}