{% extends "base.html" %}
{% block style %}
<style type="text/css">
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
</style>
{% endblock %}

{% block content %}
<div id="judge">
  <div class="container">
    <div class="row">
      <div class="judge-base-text" id="judge-base-text">
        <span v-for="e in merged_base_text">
            <span is="sutra-unit" :data="e" :sharedata="sharedata" v-on:diffpage="diffseg_curpage = $event"></span>
        </span>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <el-switch
                style="display: block;margin: 3px;"
                v-model="show_punct"
                active-color="lightslategrey"
                inactive-color="#ccc"
                active-text="显示标点"
                inactive-text="">
            </el-switch>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='jk-list' >校勘列表
      {% if task.typ != 3 %}
          <label for="show_all" style="float:right">显示所有</label><input type="checkbox" v-model="show_all" id="show_all" />
      {% endif %}
      </div>
      <ul class="diffseg-region">
        <li v-for="(diffsegresult, index) in sharedata.diffsegresults">
          <div is="diffseg-box" :diffsegresult="diffsegresult" :segindex="index" :sharedata="sharedata"></div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div class="el-pagination">
          <div class="el-pagination__rightwrapper"></div><button type="button" class="btn-prev" :class="{ disabled: (diffseg_curpage == 1) }"><i class="el-icon el-icon-arrow-left" @click.stop.prevent="prevPage"></i>
          </button>
          <ul class="el-pager"></ul>
          <button type="button" class="btn-next" :class="{ disabled: (diffseg_curpage == diffseg_page_count) }"><i class="el-icon el-icon-arrow-right" @click.stop.prevent="nextPage"></i></button>
          <span class="el-pagination__jump">前往
            <div class="el-input el-pagination__editor is-in-pagination">
              <input v-model="diffseg_curpage" autocomplete="off" type="number" rows="2" min="1" validateevent="true" class="el-input__inner"></div>/ {{ diffseg_page_count }}页</span>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="text-center">
          <button class="btn btn-primary" :disabled="premitSubmit" :title="submit_title" @click.stop.prevent="finishJudgeTask">提交</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div is="judge-dialog" :sharedata="sharedata" v-on:reload="judgeDone(diffseg_curpage)"></div>
      <div is="merge-dialog" :sharedata="sharedata" v-on:reload="mergeSplitDone(diffseg_curpage)"></div>
      <div is="split-dialog" :sharedata="sharedata" v-on:reload="mergeSplitDone(diffseg_curpage)"></div>
      <div is="show-split-dialog" :sharedata="sharedata"></div>
      <div is="judge-image-dialog" :sharedata="sharedata"></div>
      <div is="judge-page-dialog" :sharedata="sharedata"></div>
    </div>
  </div>
</div>


{% endblock %}
{% block foot_script %}

<script>
  var app = new Vue({
    el: '#judge',
    data: {
      show_all: false,
      base_text: '',
      punct_lst: [],
      orig_separators: [],
      show_punct: true,
      diffseg_page_count: 1,
      diffseg_curpage: 1,
      merged_base_text: [],
      submit_title: '',
      task_result_loaded: {},
      sharedata: {
        diffseg_pos_lst: [],
        task_id: {{ task.id }},
        task_typ: {{task.typ}},
        judge_task_ids: {{ judge_task_ids }},
        judge_verify_task_id: {{ judge_verify_task_id }},
        status: 0,
        submit_disabled: true,
        permit_modify: false,
        base_tripitaka_id: null,
        judgeDialogVisible: false,
        mergeDialogVisible: false,
        splitDialogVisible: false,
        judgeImageDialogVisible:false,
        judgePageDialogVisible: false,
        showSplitDialogVisible: false,
        segindex: -1,
        diffseg_id: 0,
        diffsegresults: [],
        image_diffseg_id: null,
        pageDialogInfo: null
      }
    },
    created: function() {
      var vm = this
      axios.get('/api/judge/' + vm.sharedata.task_id + '/')
      .then(function(response) {
        vm.base_text = response.data.base_text;
        vm.sharedata.diffseg_pos_lst = response.data.diffseg_pos_lst;
        vm.punct_lst = response.data.punct_lst;
        vm.orig_separators = response.data.orig_separators;
        vm.sharedata.base_tripitaka_id = response.data.base_tripitaka_id;
        vm.sharedata.status = response.data.status;
        vm.sharedata.tripitaka_info = response.data.tripitaka_info;
        vm.reloadDiffsegs(1); 
  
        if (vm.sharedata.status == 4) {
          vm.submit_title = '已完成';
        } else {
          vm.submit_title = '请判取完再提交';
        }
        if (vm.sharedata.task_typ == 3) {
          vm.show_all = true;
        }
        // 包括被Pause的情况
        if (vm.sharedata.status >= 4) {
          vm.sharedata.permit_modify = true
        }
      });
      this.checkAllSelected();
    },
    watch: {
      diffseg_curpage: function (newPage, oldPage) {
        this.reloadDiffsegs(newPage);
      },
      show_all: function(newValue, oldValue) {
        if (this.sharedata.task_typ != 3) {
          this.reloadDiffsegs(1);
        }
      },
      show_punct: function(newValue, oldValue) {
        if (this.sharedata.task_typ == 3) {
          this.loadSutraText();
        } else {
          this.loadVerifySutraText();
        }
      }
    },
    computed: {
      premitSubmit: function () {
        if (this.sharedata.submit_disabled || this.sharedata.status >= 4 ) {
          this.sharedata.submit_disabled = true
        }
        return this.sharedata.submit_disabled
      },
    },
    methods: {
      loadSutraText: function() {
        // 加载底本经文
        if (this.show_punct) {
          this.merged_base_text = judge_merge_text_punct(this.base_text, this.sharedata.diffseg_pos_lst,
          'diffseg_id', this.punct_lst);
        } else {
          this.merged_base_text = judge_merge_text_punct(this.base_text, this.sharedata.diffseg_pos_lst,
          'diffseg_id', this.orig_separators);
        }
      },
      loadVerifySutraText: function() {
        // 加载底本经文
        diffseg_ids = _.map(this.sharedata.diffsegresults, function(v) { return v.diffseg.id; })
        diffseg_pos_lst = _.filter(this.sharedata.diffseg_pos_lst, function(v) { return diffseg_ids.indexOf(v.diffseg_id) != -1 })

        if (this.show_punct) {
          this.merged_base_text = judge_merge_text_punct(this.base_text, diffseg_pos_lst,
          'diffseg_id', this.punct_lst);
        } else {
          this.merged_base_text = judge_merge_text_punct(this.base_text, diffseg_pos_lst,
          'diffseg_id', this.orig_separators);
        }
      },
      tryLoadVerifySutraText: function(diffsegresults) {
        var vm = this;
        this.sharedata.judge_task_ids.forEach(function(judge_task_id) {
          if (!(judge_task_id in vm.task_result_loaded)) {
            return ;
          }
        });
        var judge_verify_task_id = this.sharedata.judge_verify_task_id;
        if (judge_verify_task_id != 0 && !(judge_verify_task_id in this.task_result_loaded)) {
          return ;
        }
        vm.sharedata.diffsegresults = diffsegresults;
        this.loadVerifySutraText();
      },
      prevPage: function() {
        if (this.diffseg_curpage > 1) {
          --this.diffseg_curpage;
        }
        return false;
      },
      nextPage: function() {
        if (this.diffseg_curpage < this.diffseg_page_count) {
          ++this.diffseg_curpage;
        }
      },
      reloadDiffsegs: function(newPage) {
        this.task_result_loaded = {};
        var vm = this;
        var url = '/api/judge/' + vm.sharedata.task_id + '/diffsegresults/?';
        if (this.task_typ == 12) { // 校勘判取难字处理
          url += 'doubt=1&';
        }
        if (this.show_all) {
          url += 'page=' + newPage;
        } else {
          url += 'all_equal=0&page=' + newPage;
        }
        axios.get(url)
        .then(function(response) {
          var diffseg_count = response.data.count;
          if (diffseg_count > 1) {
            vm.diffseg_page_count = parseInt((diffseg_count - 1) / 5) + 1;
          }
          var diffseg_ids = [];
          var diffsegresults = response.data.results;
          for (var i = 0; i < diffsegresults.length; ++i) {
            var diffsegtexts = diffsegresults[i].diffseg.diffsegtexts;
            var text_to_diffsegtexts = {};
            var text_count = 0;
            for (var j = 0; j < diffsegtexts.length; ++j) {
              var text = diffsegtexts[j].text;
              if (text == null) {
                continue;
              }
              if (text in text_to_diffsegtexts) {
                text_to_diffsegtexts[text].push(diffsegtexts[j]);
              } else {
                text_to_diffsegtexts[text] = [ diffsegtexts[j] ];
                text_count++;
              }
            }
            diffsegresults[i].text_to_diffsegtexts = text_to_diffsegtexts;
            diffsegresults[i].text_count = text_count;
            diffseg_ids.push(diffsegresults[i].diffseg.id);
          }
          if (vm.sharedata.task_typ == 3) {
            vm.sharedata.diffsegresults = diffsegresults;
            vm.sharedata.segindex = 0;
            vm.loadSutraText();
            return ;
          }
          if (diffseg_ids.length > 0) {
            var diffseg_id_to_judge_results = {};
            for (var i = 0; i < vm.sharedata.judge_task_ids.length; ++i) {
              var task_id = vm.sharedata.judge_task_ids[i];
              url = '/api/judge/' + task_id + '/diffsegresults/?diffseg_id=' + diffseg_ids.join(',');
              axios.get(url).then(function(response) {
                var results = response.data.results;
                for (var j = 0; j < results.length; ++j) {
                  var diffseg_id = results[j].diffseg.id;
                  var diffsegresult = results[j];
                  if (diffseg_id in diffseg_id_to_judge_results) {
                    diffseg_id_to_judge_results[diffseg_id].push(diffsegresult);
                  } else {
                    diffseg_id_to_judge_results[diffseg_id] = [diffsegresult];
                  }
                }

                for (var i = 0; i < diffsegresults.length; ++i) {
                  var diffseg_id = diffsegresults[i].diffseg.id;
                  diffsegresults[i].judge_results = diffseg_id_to_judge_results[diffseg_id];
                }

                vm.task_result_loaded[task_id] = true;
                if (vm.sharedata.judge_verify_task_id == 0) {
                  vm.tryLoadVerifySutraText(diffsegresults);
                }
              });
            }
            if (vm.sharedata.judge_verify_task_id != 0) {
              var diffseg_id_to_judge_verify_result = {};
              var task_id = vm.sharedata.judge_verify_task_id;
              url = '/api/judge/' + task_id + '/diffsegresults/?diffseg_id=' + diffseg_ids.join(',');
              axios.get(url).then(function(response) {
                var results = response.data.results;
                for (var j = 0; j < results.length; ++j) {
                  var diffseg_id = results[j].diffseg.id;
                  var diffsegresult = results[j];
                  diffseg_id_to_judge_verify_result[diffseg_id] = diffsegresult;
                }

                for (var i = 0; i < diffsegresults.length; ++i) {
                  var diffseg_id = diffsegresults[i].diffseg.id;
                  diffsegresults[i].judge_verify_result = diffseg_id_to_judge_verify_result[diffseg_id];
                }

                vm.sharedata.diffsegresults = diffsegresults;
                vm.sharedata.segindex = 0;
                vm.task_result_loaded[task_id] = true;
                vm.tryLoadVerifySutraText(diffsegresults);
              });
            }
          } else {
            vm.sharedata.diffsegresults = diffsegresults;
            vm.loadVerifySutraText();
          }
        });
       
      },
      checkAllSelected: function() {
        var vm = this
        axios.get('/api/judge/' + vm.sharedata.task_id + '/allselected/')
        .then(function(response) {
          vm.sharedata.submit_disabled = ! response.data.all_selected;
        })
      },
      setCurrentSeg: function (diffseg_id) {
        this.current_diffseg_id = diffseg_id;
      },
      judgeDone: function(newPage) {
        this.reloadDiffsegs(newPage);
        this.checkAllSelected();
      },
      mergeSplitDone: function(newPage) {
        this.reloadDiffsegs(newPage);
        this.checkAllSelected();
      },
      finishJudgeTask: function() {
        var vm = this;
        axios.post('/api/judge/' + this.sharedata.task_id + '/finish/')
        .then(function(response) {
          vm.sharedata.status = response.data.status;
          if (vm.sharedata.status == 4) {
            vm.sharedata.submit_disabled = true;
            vm.sharedata.permit_modify = true;
          }
          alert('提交成功！');
        })
        .catch(function (error) {
          vm.error = '提交出错！';
        });
      }
    }
  });
</script>
{% endblock %}
