{% extends "base.html" %}
{% block title %}格式标注{% endblock %}
{% block style %}
<style type="text/css">

#mark {
    overflow: hidden !important;
    font-family: 'Microsoft YaHei', 'KaiXinSong', 'SimSun', 'sans-serif', 'Helvetica Neue', 'Helvetica';
}
.box { 
    height: 70%;
    scroll-behavior: auto;
    overflow-y: scroll;
}
.inner-box { 
    padding: 10px 20px;
    margin-top: 2%;
    height: 29%;
}
.v-cmd-block {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: whitesmoke;
    position: relative;
    top: 4px;
    height: 80%;
    /* float: left; */
    width: 7%;
    right: 0px;
    padding: 0px;
    z-index: 2001;
    box-shadow: 1px 1px 4px -1px #363E4E;
}
.reel-text-pane {
    float: left;
    width: 90%;
    padding: 0 15px;
    height: 80%;
    overflow: scroll;
    box-shadow: 1px 1px 4px -1px #363E4E;
}
b, i, u, small, big, strike {
    font-size: 24px;
    display: inline;
    margin: 0;
}
.el-button.is-round {
    margin-left: 2px;
}
.el-table td, .el-table th {
    padding: 4px 0;
}

.el-button+.el-button {
    margin-left: 0px;
    margin-top: 5px;
}
.el-tabs--bottom .el-tabs__header.is-bottom {
margin-top: 0px;
}

.mark-title {
    margin-left: 2em;
    font-size: 24px;
    font-weight: 300;
}

.mark-author {
    font-family: 'FangSong', 'KaiXinSong', 'SimSun', 'sans-serif', 'Helvetica Neue', 'Helvetica';
    float: right;
    font-size: 16px;
}

.mark-preface, .mark-postface {
    font-family: 'FangSong', 'KaiXinSong', 'SimSun', 'sans-serif', 'Helvetica Neue', 'Helvetica';
    font-size: 20px;
}

.mark-qzw {
    margin-left: 2em;
    font-size: 24px;
    font-weight: 300;
    color: #27a9e3;
}

.mark-inserter {
    font-size: 16px;
    color: #27a9e3;
}

.mark-linesmall {
    font-size: 16px;
    margin-left: 4em;
}

.mark-jisong {
    font-family: 'FangSong', 'KaiXinSong', 'SimSun', 'sans-serif', 'Helvetica Neue', 'Helvetica';
    font-size: 20px;
    margin-left: 2em;
}

.current-mark {
    border: red 2px solid !important;
}
</style>
{% endblock %}
{% block content %}
<div id='mark' class="labelformat">
        {% raw %}
        <div class="labelformat-in clearfix">
            <div class="left-con fl">

                <div class="tools">
                    <div class="pager">
                        <span @click="scale -=1">-</span>
                        <span><em>1</em>:<em>{{scale}}</em></span>
                        <span @click="scale +=1">+</span>
                    </div>
                    <div class="btns">
                        <span @click="saveTask()">暂存</span>
                        <span @click="submitTask()">完成</span>
                    </div>
                </div>
                <div class="left">
                    <div class="left-in canvas-pane">
                            <canvas id="page-canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="right fr clearfix">
                <div class="bd fl">
                    <div class="box">
                        <ul ref='textArea'  @mouseup="mouseMark" v-html="content_html">
                            <font>经文载入中...</font>
                        </ul>
                    </div>
                    <div class="doubt-lists">
                        <el-tabs v-model="activeTabName" tab-position="bottom" @tab-click="handleTagClick">
                            <el-tab-pane label="标记列表" name="mark_tab">
                                <template slot="label">
                                        <div class="hd"> 标记列表</div><el-button type="danger" size="mini" round>{{marksegs.length}}</el-button>
                                        
                                </template>
                                
                                <div is="mark-list"  v-show="display_mark && marksegs.length !=0" :marks.sync="marksegs" :current_mark.sync="current_mark"></div>
                            </el-tab-pane>
                            <el-tab-pane name="doubt_tab" v-if="sharedata.task_typ == 10">
                                <template slot="label">
                                        <div class="hd">存疑列表</div><el-button type="danger" size="mini" round>{{doubt_marks.length}}</el-button>
                                        
                                </template>
                                <div is="mark-doubt-list"  v-show="display_doubt" :marks.sync="doubt_marks" v-on:accept="acceptThis" :current_mark.sync="current_doubt_mark"></div>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
                    <div class="hd fl">
                        <span @click="markedTextContent(1)" ><i></i>标题</span>
                        <span @click="markedTextContent(2)" ><i></i>作译者</span>
                        <span @click="markedTextContent(3)" ><i></i>序</span>
                        <span @click="markedTextContent(4)" ><i></i>千字文</span>
                        <span @click="markedTextContent(5)" ><i></i>跋</span>
                        <span @click="markedTextContent(6)" ><i></i>行间小字</span>
                        <span @click="markedTextContent(11)" ><i></i>偈颂</span>
                        <span @click="markedTextContent(12)" ><i></i>夹注小字</span>
                        <span v-show="false" @click="markedTextContent(13)" ><i></i>梵文</span>
                        <span v-show="false" @click="markedTextContent(14)" ><i></i>咒语</span>
                    </div>
                
            </div>
            {% endraw %}
    </div>
</div>
{% endblock %}
{% block foot_script %}
<script>
var app = new Vue({
    el: '#mark',
    data: {
        activeTabName: '',
        display_mark: false,
        display_doubt: false,
        current_mark: {},
        current_doubt_mark: {},
        base_text: "",
        content_html: "",
        marked_start_pos: 0,
        marked_end_pos: 0,
        marked_text: "",
        marksegs: [],
        doubt_marks: [],
        marks: [],
        sharedata: {
            task_id: {{ task.id }},
            task_typ: {{task.typ}},
            status: 0
        },
        page_no: 1,
        img_url: '',
        image_urls: '',
        scale: 1,
        line_no: 1,
        current_char_no: 1,
        x: 0,
        y: 0,
        w: 0,
        h: 0
        
    },
    created: function() {
      var vm = this
      axios.get('/api/mark/' + vm.sharedata.task_id + '/')
      .then(function(response) {
        vm.base_text = response.data.base_text;
        vm.marks = response.data.marks.sort(function(a,b) { return a.start - b.start});;
        vm.lf_postions = response.data.lf_postions;
        vm.image_urls = response.data.image_urls;
        try {
            vm.loadImage();
        } catch (err) {
        }
      });
    },
    watch: {
        marks: function(val, oldVal) {
            this.marksegs = _.filter(val, {typ: 1})
            this.doubt_marks = _.filter(val, {typ: 2})
        },
        marksegs: function(val, oldVal) {
            this.compiledBaseText();
            this.handleChange();
        },
        doubt_marks: function(val, oldVal) {
            this.handleChange();
        },
        current_mark: function (val, oldVal) {
            if (val) {
                this.gotoCurrentMark(val);
            }
        },
        scale: function (val, oldVal) {
            if (val > 5) {
                this.scale = 5
                return
            } 
            if (val < 1) {
                this.scale = 1
                return;
            }
            if (val != oldVal) {
                this.setImg();
            }
        },
        page_no: function (val, oldVal) {
            this.loadImage();
        },
        line_no: function (val, oldVal) {
            this.loadImage();
        },
        current_doubt_mark: function(val, oldVal) {
            this.gotoCurrentMark(val);
            this.compiledBaseText();
            this.$nextTick(function(){
                if (val) {
                    var contentPs = this.$refs.textArea.getElementsByTagName("li");
                    let p = _.findLast(contentPs, function(o) { return parseInt(o.getAttribute("data-position")) <= val.start;})
                    var offset = this.$el.querySelector('div.box').scrollTop + p.getBoundingClientRect().top - 360;
                    this.$el.querySelector('div.box').scrollTop = offset;
                }
            }.bind(this));
        }
    },
    computed: {
        pos_list() {
            let pos_segs = {};
            let marks = this.marksegs;
            if (this.current_doubt_mark && this.current_doubt_mark.start) {
                marks = marks.concat([this.current_doubt_mark])
            }
            _.forEach(marks, function(markseg){
                pos_segs[markseg.start] = pos_segs[markseg.start] || []
                pos_segs[markseg.start].push({start: true, mark_typ: markseg.mark_typ})
                pos_segs[markseg.start].sort(function(a,b){ return a.start - b.start})
                pos_segs[markseg.end] = pos_segs[markseg.end] || []
                pos_segs[markseg.end].push({start: false, mark_typ: markseg.mark_typ})
                pos_segs[markseg.end].sort(function(a,b){ return a.start - b.start})
            });
            return pos_segs
        },
        
    },
    mounted: function() {
        this.handleChange();
        
    },
    methods: {
        handleTagClick: function(tab, event){
            if ( tab.paneName == "mark_tab") {
                this.display_doubt = false;
                this.display_mark = !this.display_mark;
            }else if (tab.paneName == "doubt_tab") {
                this.display_mark =false;
                this.display_doubt = !this.display_doubt;
             }
            this.handleChange();
        },
        setImg: function() {
        var img_url = this.img_url;
        var x = this.x * this.scale;
        var y = this.y * this.scale;
        var w = this.w * this.scale;
        var h = this.h * this.scale;
        var scale = this.scale;
        var canvas = document.getElementById("page-canvas");
        var context = canvas.getContext("2d");
        var image = new Image();
        image.onload = function () {
          canvas.width = canvas.width;
          canvas.height = image.height * scale;
          canvas.width = image.width * scale;

          x = ~~x; y = ~~y; w = ~~w; h = ~~h;

          context.scale(0.8, 0.8);
          context.drawImage(image, 0, 0, image.width, image.height,
          0, 0, image.width * scale, image.height * scale);

          //设置样式
          context.lineWidth = 1;
          context.globalAlpha = 0.5;
          context.strokeStyle = "#F5270B";
          context.fillStyle = "#F5270B";
          //绘制
          context.strokeRect(x, y, w, h);
          context.fillRect(x, y, w, h);

          let wrapper_h = this.$el.querySelector('.canvas-pane').clientHeight;
          let wrapper_w = this.$el.querySelector('.canvas-pane').clientWidth;
          let trans_y = y*0.8 > (wrapper_h-100)/2 ? y*0.8-wrapper_h/2: 0;
          let trans_x = x*0.8 > wrapper_w-100 ? x*0.8-wrapper_w/2: 0;
          this.$el.querySelector('.canvas-pane').scrollTop = ~~trans_y;
          this.$el.querySelector('.canvas-pane').scrollLeft = ~~trans_x;
        }.bind(this);
        image.src = img_url;
      },
      loadImage: function() {
        this.img_url = this.image_urls[this.page_no-1];
        var cut_url = this.img_url.replace('.jpg', '.cut');
        var vm = this;
        axios.get(cut_url).then(function(response) {
          var char_data = response.data['char_data'];
          let v = _.find(char_data, function(v) { return v['line_no']  == vm.line_no && v['char_no'] == vm.current_char_no })
          // 结尾缺字
          if (!v) {
            v = _.findLast(char_data, function(v) { return v['line_no']  == vm.line_no })
            let max_char_no = _.maxBy(char_data, function(v) { return v['char_no']  })
            vm.x = v['x'];
            vm.y = v['y']+ v['h'];
            vm.w = v['w'];
            vm.h = (max_char_no['char_no'] - vm.current_char_no +1)*v['h'];
            vm.setImg();
            return;
          }

          vm.x = v['x'];
          vm.y = v['y'];
          vm.w = v['w'];
          vm.h = v['h'];
          vm.setImg();
        });

        
      },
      notifyErrorMsg(msg) {
        this.$notify({  title: '提示',
                        message: msg,
                        duration: 3000  });
      },
      saveTask: function() {
            submit_marks = this.marksegs.concat(this.doubt_marks);
            axios.put('/api/mark/' + this.sharedata.task_id + '/finish/', {
                task: this.task_id,
                marks: submit_marks
            }).then(function (response) {
                this.notifyErrorMsg('暂存成功！')
            }.bind(this))
            .catch(function (error) {
                this.notifyErrorMsg(error.data.msg)
            }.bind(this));
        },
        submitTask: function() {
            submit_marks = this.marksegs.concat(this.doubt_marks);
            axios.post('/api/mark/' + this.sharedata.task_id + '/finish/', {
                task: this.task_id,
                marks: submit_marks
            }).then(function (response) {
                this.notifyErrorMsg('提交成功！')
                window.history.back();
            }.bind(this))
            .catch(function (error) {
                this.notifyErrorMsg(error.data.msg)
            }.bind(this));
        },
        acceptThis: function(mark) {
            mark.typ = 1 
            this.marksegs.push(mark);
            this.marksegs = _.uniqWith(this.marksegs, _.isEqual).sort(function(a,b) { return a.start - b.start});
        },
        gotoCurrentMark: function(val) {
            let start = val.start;
            var contentPs = this.$refs.textArea.getElementsByTagName("li");
            let p = _.findLast(contentPs, function(o) { return parseInt(o.getAttribute("data-position")) <= start;})
            var offset = this.$el.querySelector('div.box').scrollTop + p.getBoundingClientRect().top - 160;
            this.$el.querySelector('div.box').scrollTop = offset;
            this.page_no = parseInt(p.getAttribute("page-no"));
            this.line_no = parseInt(p.getAttribute("line-no"));
            this.$nextTick(function(){
                this.compiledBaseText();
            }.bind(this));
        },
        segFontDiv(mark_typ) {
            switch (mark_typ) {
                case 1:  //标题
                    return '<font class="mark-title">';
                case 2: //作译者
                    return '<font class="mark-author">';
                case 3: //序
                    return '<font class="mark-preface">';
                case 4: //千字文
                    return '<font class="mark-qzw">';
                case 5: //跋
                    return '<font class="mark-postface">';
                case 6: //行间小字
                    return '<small class="mark-linesmall">';
                case 11: //偈颂
                    return '<b class="mark-jisong">';
                case 12: //夹注小字
                    return '<i class="mark-inserter">';
                case 13: //梵文
                    return '<u class="mark-fan">';
                case 14: //咒语
                    return '<big class="mark-mantras">';

            }
        },
        segCloseDiv(mark_typ) {
            switch (mark_typ) {
                case 1:  //标题
                    return '</font>';
                case 2: //作译者
                    return '</font>';
                case 3: //序
                    return '</font>';
                case 4: //千字文
                    return '</font>';
                case 5: //跋
                    return '</font>';
                case 6: //行间小字
                    return '</small>';
                case 11: //偈颂
                    return '</b>';
                case 12: //夹注小字
                    return '</i>';
                case 13: //梵文
                    return '</u>';
                case 14: //咒语
                    return '</big>';

            }
        },
        userSelection() {
            var userSelection, rangeObject;
            if (window.getSelection) { 
                //现代浏览器
                userSelection = window.getSelection();
            } else if (document.selection) { 
                //IE浏览器 考虑到Opera，应该放在后面
                userSelection = document.selection.createRange();
            }

            return userSelection;
        },
        getParentPTag(node) {
            if (node.nodeName.toString().toUpperCase() != 'LI')
            {
                return this.getParentPTag(node.parentElement)
            }    
            return node;
        },
        handleChange() {
        let totalheight = this.$el.querySelector('.left-con').clientHeight;
        var bottomblock = this.$el.querySelector('.el-tabs').clientHeight;

        if (!this.display_mark && !this.display_doubt) {
            bottomblock = 48;
            this.$el.querySelector('.labelformat .right .box').style.height = totalheight  - bottomblock -2;
            this.$el.querySelector('.doubt-lists').style.height = bottomblock;
        } else {
            this.$nextTick(function() {
              var bottomblock = this.$el.querySelector('.el-tabs').clientHeight;
              if (bottomblock > 400) {
                bottomblock = 400;
                this.$el.querySelector('.doubt-lists').style.overflowY = 'scroll';
              }
              this.$el.querySelector('.labelformat .right .box').style.height = totalheight  - bottomblock -2;
              this.$el.querySelector('.doubt-lists').style.height = bottomblock;
            }.bind(this))
        }
      },
        headerOffset(pnode, currentNode) {
            let nodes = pnode.childNodes;
            let offset = 0;
            let append_nodes = []
            for (var i=0; i < nodes.length; i++){
                if (currentNode == nodes[i] || nodes[i].contains(currentNode)){
                    if (currentNode != nodes[i] ) {
                        offset += this.headerOffset(nodes[i], currentNode);
                    } 
                    break;
                }
                offset += nodes[i].textContent.length;
            }
            return offset;
        },
        markedTextContent(mark_typ) {
            if (this.marked_start_pos != this.marked_end_pos) {
                this.marksegs.push({start:this.marked_start_pos, end: this.marked_end_pos, typ: 1, mark_typ: mark_typ})
                this.marksegs = _.uniqWith(this.marksegs, _.isEqual).sort(function(a,b) { return a.start - b.start});
            }
        },
        getChoicePosition(startNode, startOffset, focusNode, focusOffset) {
            var contentPs = this.$refs.textArea.getElementsByTagName("li");
            var startPos = 0;
            var endPos = 0;
            var start = startOffset;
            var end = focusOffset;
            
            //点击选择
            if (startNode == focusNode && startOffset == focusOffset) {
                this.marked_start_pos = 0;
                this.marked_end_pos = 0;
                this.marked_text = "";
                this.page_no = parseInt(this.getParentPTag(startNode).getAttribute("page-no"));
                this.line_no = parseInt(this.getParentPTag(startNode).getAttribute("line-no"));
                return;
            }
            for (var i=0; i < contentPs.length; i++){
                _.forEach(contentPs[i].childNodes, function(childNode) {
                    if (startNode == childNode || childNode.contains(startNode.parentElement)){
                        startPos = i;
                    }

                    if (focusNode == childNode || childNode.contains(focusNode.parentElement)){
                        endPos = i;
                    }
                })
            }
            if (endPos ==0 && focusNode.className && focusNode.className.includes('biaoji')) {
                endPos = contentPs.length - 1;
                focusNode = contentPs[endPos].lastChild;
                end = focusNode.textContent.length;
            }
            // 逆向选择，头尾调转
            if (startPos > endPos) { 
                let tmpNode = startNode;
                let tmpPos = startPos;
                let _tmp = start;
                startNode = focusNode;
                startPos = endPos;
                focusNode = tmpNode;
                endPos = tmpPos;
                start = end;
                end = _tmp;
            }
            
            
            // 同区块空间，未跨区的情况
            if (startNode == focusNode)
            {
                if(start > end) {
                    start += end;
                    end = start - end;
                    start -= end;
                }
                var content_text = startNode.data.substr(start, end-start);
                //console.log(content_text)
                
                let offset = this.headerOffset(contentPs[startPos], startNode);
                var mark_start = parseInt(this.getParentPTag(startNode).getAttribute("data-position")) + offset;
                var mark_end = mark_start + end;
                mark_start += start;
                //console.log(mark_start, mark_end);
                this.marked_start_pos = mark_start;
                this.marked_end_pos = mark_end;
                this.marked_text = content_text;
                
                //this.marksegs.push({start:mark_start, end: mark_end, typ: 1, mark_typ: 1})
            } else if (startPos == endPos) {
                //虽然不同区块，但处于同一个LI，同行的情况
                let nodes = contentPs[startPos].childNodes;
                let _start = 0, _end = 0
                for (var i=0; i < nodes.length; i++){
                    if (startNode == nodes[i] || nodes[i].contains(startNode)){
                        _start = i;
                    }

                    if (focusNode == nodes[i] || nodes[i].contains(focusNode)){
                        _end = i;
                    }
                }
                if (_start > _end) { 
                    let tmpNode = startNode;
                    let tmpPos = _start;
                    let _tmp = start;
                    startNode = focusNode;
                    _start = _end;
                    focusNode = tmpNode;
                    _end = tmpPos;
                    start = end;
                    end = _tmp;
                }
                var head_text =  startNode.data.substr(start, startNode.data.length-start);
                var content_text = '';
                for (var i= _start+1; i < _end; i++){
                    content_text += nodes[i].textContent;
                }
                var tail_text = focusNode.data.substr(0, end);
                let offset = this.headerOffset(contentPs[startPos], startNode);
                var mark_start = parseInt(this.getParentPTag(startNode).getAttribute("data-position")) + offset + start;
                offset = this.headerOffset(contentPs[endPos], focusNode);
                var mark_end = parseInt(this.getParentPTag(focusNode).getAttribute("data-position")) + offset + end;
                //this.marksegs.push({start:mark_start, end: mark_end, typ: 1, mark_typ: 1})
                this.marked_start_pos = mark_start;
                this.marked_end_pos = mark_end;
                this.marked_text = head_text + content_text + tail_text;
            } 
            else if (startNode.tagName == "LI" && startNode.contains(focusNode)) {
                //鼠标双击后，产生的浏览器区块选择行为
                this.marked_start_pos = parseInt(this.getParentPTag(startNode).getAttribute("data-position"));
                this.marked_end_pos = this.marked_start_pos + startNode.textContent.length;
                this.marked_text = startNode.textContent;
            }
            else{
                //更复合的，跨不同LI的大面积选择情况。
              var head_text =  startNode.data.substr(start, startNode.data.length-start);
              var content_text = '';
              var startMatch = false;
              for (var i= startPos; i < endPos + 1; i++){
                let nodes = contentPs[i].childNodes;
                for (var j=0; j < nodes.length; j++){
                    if (startNode == nodes[j] || nodes[j].contains(startNode)){
                        startMatch = true
                    }

                    if (focusNode == nodes[j] || nodes[j].contains(focusNode)){
                        break
                    }
                    if (startMatch) {
                        content_text += nodes[j].textContent;
                    }
                    
                }
                
              }
              var tail_text =  focusNode.data.substr(0, end);
              let offset = this.headerOffset(contentPs[startPos], startNode);
              var mark_start = parseInt(this.getParentPTag(startNode).getAttribute("data-position")) + offset + start;
              offset = this.headerOffset(contentPs[endPos], focusNode);
              var mark_end = parseInt(this.getParentPTag(focusNode).getAttribute("data-position")) + offset + end;
              //this.marksegs.push({start:mark_start, end: mark_end, typ: 1, mark_typ: 1})
              this.marked_start_pos = mark_start;
              this.marked_end_pos = mark_end;
              this.marked_text = head_text + content_text + tail_text;
            }
            
        },
        mouseMark() {
            let userSelection = this.userSelection();
            let startNode = userSelection.anchorNode,
            startOffset = userSelection.anchorOffset,
            focusNode = userSelection.focusNode,
            focusOffset = userSelection.focusOffset;
            this.getChoicePosition(startNode, startOffset, focusNode, focusOffset)
        },
        compiledBaseText() {
            let content = '<li data-position="0" page-no="1" line-no="0">';
            let page_no = 1
            let line_no = 0;
            let text_content = "";
            for(var i=0; i< this.base_text.length; i++){
                if (i >= this.lf_postions[page_no]) {
                    page_no += 1;
                    line_no = 0;
                }
                if (this.pos_list[i]){
                    _.forEach(this.pos_list[i], function(seg) {
                        if (!seg.start) {
                            content += this.segCloseDiv(seg.mark_typ);
                        } else {
                            content += this.segFontDiv(seg.mark_typ);
                        }
                    }.bind(this));
                }
                if (this.base_text[i] != "\n") {
                    content += this.base_text[i];
                    text_content += this.base_text[i];
                } else {
                    if (text_content != "b") {
                        line_no += 1;
                    }
                    
                    text_content = "";
                    if ((page_no == this.page_no) && (this.line_no == line_no)) {
                        content +='<br></li><li class="current-mark" data-position="' + (i+1) + '" page-no="' + page_no + '" line-no="' + line_no +'">'
                    } else {
                        console.log(page_no, this.page_no, line_no, this.line_no)
                        content +='<br></li><li data-position="' + (i+1) + '" page-no="' + page_no + '" line-no="' + line_no +'">'
                    }
                    
                }
                
            }
            this.content_html = content;
        }
    }
});
</script>
{% endblock %}
