{% extends "base.html" %}
{% block title %}龙泉藏经{% endblock %}
{% block content %}
<style>

  .left {
    float: left;
    width: 310px;
    height: 680px;
    
  }
  .left-pane {
    float: left;
    width: 300px;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
  }
  .right {
    margin-left: 310px;
    width: 100%;
    height: 100%;
  }
  
  .right-pane {
    margin-left: 10px;
    width: 80%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: hidden;
    text-overflow:ellipsis; 
  }
  .line {
    width: 100%;
    border: 0;
    border-bottom: 1px solid lightgray;
    padding: 5px 0 ;
    outline: 0;
  }
  .popContainer{  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    background: lightgray;  
    /* 垂直水平居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
<style>
  #book {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -325px;
      margin-top: -300px;
      height: 600px;
      width: 750px;
      transform-style: preserve-3d;
      transform: perspective(1000px) rotateX(60deg) rotateY(0deg);
      transition: 1s;
  }
  #book:hover {
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  #book div {
      height: 600px;
      width: 750px;
      text-align: center;
      line-height: 600px;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: left;
      transition: 1s;
  }
  #book div:nth-of-type(odd) {
      background: orange;
  }
  #book div:nth-of-type(even) {
      background: yellow;
  }
  #book:after {
      content: "";
      position: absolute;
      width: 600px;
      height: 5px;
      background: rgba(0, 0, 0, 0.8);
      left: 75px;
      z-index: -2;
      bottom: -10px;
      border-radius: 70%;
      box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.8);
  }
</style>
<head>
  <link rel="stylesheet" type="text/css" :href="{{ static('custom/css/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" :href="{{ static('custom/css/demo.css') }}" />
  <link rel="stylesheet" type="text/css" :href="{{ static('custom/css/bookblock.css') }}" />
  <link rel="stylesheet" type="text/css" :href="{{ static('custom/css/component.css') }}" />
  <script src="{{ static('custom/js/modernizr.custom.js') }}"></script>
  <!-- 书本翻页样式 -->
  <script src="{{ static('custom/js/bookblock.min.js') }}"></script>
  <script src="{{ static('custom/js/classie.js') }}"></script>
  <script src="{{ static('custom/js/bookshelf.js') }}"></script>
</head>
<div id="lqtripitaka">
  <div class="left">
      <div class="left-pane">
        <div class="row">
          <div class="text-center"><input type="text" class="sutra-searchbox" v-model="searchword" placeholder="搜索经名" /></div>
        </div>
        <div class="sutra-tree" style="margin-left: -5px;margin-right: -5px;">
          <el-tree :data="lqsutra_list" :props="tree_props" @node-click="clickLQSutraTreeNode">
            <span class="el-tree-node__label" slot-scope="{ node, data }" v-bind:class="{disabledtreenode: data.reel_no && !data.text_ready}">
              <span v-text="node.label"></span>
            </span>
          </el-tree>
        </div>
        <div class="row">
          <div class="text-center">
            <input type="number" class="sutra-page-input" v-model="page" /> / {{ page_count }}
          </div>
        </div>
      </div>
      <!-- <div class="col-md-8 lqtripitaka-text" id="lqtripitaka-text" @mouseup="userSelectionChanged">
        <span v-for="e in merged_text" is="lqtripitaka-sutra-unit" :data="e" :sharedata="sharedata">
        </span>
      </div>
      <ul class="popup-menu" v-show="popupMenuShown" :style="popupMenuStyle">
        <li><button @click="punctFeedback()">反馈标点</button></li>
      </ul> -->
    </div>
  <div class="right">
    <div class="right-pane">
      <div class="tpd-right-header" style="padding: 5px;">
        <el-breadcrumb>
          <el-breadcrumb-item v-if="lqsutra_name!=''">{{ lqsutra_name }}</el-breadcrumb-item>
          <el-breadcrumb-item v-if="current_sutra_name!=''">{{ current_sutra_name }}</el-breadcrumb-item>
          <el-breadcrumb-item v-if="current_reel_no>0">第{{ current_reel_no }}卷</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="line">
        <line class="line" id="line" />
      </div>
      <textarea style=" width: 70%;height: 80%; padding: 0px;border-radius: 8px;border-width: 1px;border-color: lightgray; text-align:center;" readonly="readonly">{{ text }}</textarea>
    </div>
  </div>
  <!-- 弹出框 -->
  <div id = 'popContainer' class='popContainer' v-show="showPopReadModel" v-on:click="hideReadModel($event)">
    <net-read-dialog :text="text" v-if="readModel == '网页模式'"></net-read-dialog>
    <focus-read-dialog :text="text" v-if="readModel == '护眼模式'"></focus-read-dialog>
    <turn-page-dialog :text="text" v-if="readModel == '翻页模式'"></turn-page-dialog>
    <sutra-book-dialog :text="text" v-if="readModel == '经书模式'"></sutra-book-dialog>
    </div>
  <!-- 侧边菜单栏 -->
  <div class="side">
    <ul>
      <li><a href="#"><div class="sidebox" v-on:click="showReadModel($event)"><img src="{{ static('custom/imgs/side_icon01.png') }}" >网页模式</div></a></li>
      <li><a href="#"><div class="sidebox" v-on:click="showReadModel($event)"><img src="{{ static('custom/imgs/side_icon02.png') }}">护眼模式</div></a></li>
      <li><a href="#" ><div class="sidebox" v-on:click="showReadModel($event)"><img src="{{ static('custom/imgs/side_icon03.png') }}">翻页模式</div></a></li>
      <li><a href="#" ><div class="sidebox" v-on:click="showReadModel($event)"><img src="{{ static('custom/imgs/side_icon04.png') }}">经书模式</div></a></li>
      <li style="border:none;"><a href="#" class="sidetop" v-on:click="hideReadModel($event)"><img src="{{ static('custom/imgs/side_icon05.png') }}"></a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block foot_script %}

<script src="{{ static('js/vue.js') }}"></script>
<script src="{{ static('js/element-ui.js') }}"></script>
<script src="{{ static('custom/js/punct.js') }}"></script>
<script src="{{ static('custom/js/lqtripitaka.js') }}"></script>

<!-- 侧栏菜单样式 -->
<script type="text/javascript">
$(document).ready(function(){

  $(".side ul li").hover(function(){
    $(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
  },function(){
    $(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
  });
  
});

//回到顶部
function goTop(){
  $('html,body').animate({'scrollTop':0},600);
}

</script>
<!-- 处理vue数据 -->
<script>
  var app = new Vue({
    el: '#lqtripitaka',
    data: {
      PUNCT_LIST: '：，。；、！？‘’”“\n',
      lqsutra_list: [],
      searchword: '',
      page_count: 0,
      page: 1,
      tree_props: {
        children: 'lqreel_set',
        label: function(data, node) {
          if (data.reel_no == undefined) {
            return data.name + '(' + data.total_reels + ')';
          } else {
            return '第' + data.reel_no + '卷';
          }
        },
        disabled: function(data, node) {
          if (data.text_ready != undefined) {
            return !data.text_ready;
          }
          return false;
        }
      },
      lqsutra_name: '龙泉大藏经',
      current_sutra_name: '',
      current_reel_no: 0,
      text: '',
      punct_lst: [],
      orig_separators: [],
      diffsegresult_pos_lst: [],
      merged_text: [],
      showPopReadModel:false,
      readModel:'',
      popupMenuShown: false,
      popupMenuStyle: {
        left: 1,
        top: 1
      },
      sharedata: {
        task_id: null,
        lqpunct_id: null,
        judgeResultDialogVisible: false,
        punctFeedbackDialogVisible: false,
        selection_start: 0,
        selection_end: 0,
        punct_text: '',
        puncts: [],
        punct_result: [],
        punctseg_lst: [],
        show_refpunct: false
      }
    },
    watch: {
      searchword: function(value, oldValue) {
        this.fetchSutraList();
      },
      page: function(value, oldValue) {
        if (this.page <= 0) {
          this.page = 1;
          return ;
        }
        if (this.page > this.page_count) {
          this.page = this.page_count;
          return ;
        }
        this.fetchSutraList();
      },
      text: function(value, oldValue) {
        this.text = value;
      },

    },
    
    created: function() {
      this.fetchSutraList();
    },
    methods: {
      fetchSutraList: function() {
        var url = '/api/lqsutra/?page=' + this.page;
        if (this.searchword.length > 0) {
          url += '&search=' + this.searchword;
        }
        var vm = this;
        axios.get(url).then(function(response) {
          vm.lqsutra_list = response.data.results;
          vm.page_count = Math.ceil(response.data.count / 30);
          // vm.page = 1;
        });
      },
      clickLQSutraTreeNode: function(data, node) {
        if (data.reel_no != undefined && data.text_ready) {
          var lqreel_id = data.id;
          var url = '/api/lqreeltext/?lqreel_id=' + lqreel_id;
          var vm = this;
          axios.get(url).then(function(response) {
            vm.sharedata.task_id = response.data.task_id;
            vm.sharedata.lqpunct_id = response.data.lqpunct_id;
            vm.text = '';
            vm.text = response.data.text;
            vm.punct_lst = response.data.punct_lst;
            vm.diffsegresult_pos_lst = response.data.diffsegresult_pos_lst;
            vm.orig_separators = response.data.orig_separators;
            vm.current_sutra_name = node.parent.data.name;
            vm.current_reel_no = data.reel_no;
            vm.loadSutraText();
          });
        }
      },
      loadSutraText: function() {
        this.merged_text = merge_text_punct(this.text, this.orig_separators);
        var reg = new RegExp("<br />", "g");
        this.text = this.merged_text.replace(reg, "\n");

      },
      cleanPunct: function(str) {
        var ch_lst = [];
        for (var i = 0; i < str.length; ++i) {
          if (this.PUNCT_LIST.indexOf(str[i]) == -1) {
            ch_lst.push(str[i]);
          }
        }
        return ch_lst.join('');
      },
      userSelectionChanged: function() {
        var vm = this;
        setTimeout(function() {
          var selection = window.getSelection();
          var text = window.getSelection().toString();
          if (text.length == 0) {
            vm.popupMenuShown = false;
          } else {
            var seg_position = parseInt(selection.anchorNode.parentElement.getAttribute('position'));
            var selection_offset = Math.min(selection.focusOffset, selection.anchorOffset);
            var pre_text = selection.anchorNode.data.substr(0, selection_offset);
            var offset = vm.cleanPunct(pre_text).length;
            vm.sharedata.punct_text = vm.cleanPunct(text);
            vm.sharedata.punctseg_lst = punct_merge_text_punct(vm.sharedata.punct_text,
            vm.sharedata.puncts, vm.sharedata.punct_result);
            vm.sharedata.selection_start = seg_position + offset;
            vm.sharedata.selection_end = vm.sharedata.punct_text.length + vm.sharedata.selection_start;
            vm.popupMenuShown = true;
            var range = selection.getRangeAt(0);
            var rect = range.getBoundingClientRect();
            vm.popupMenuStyle.left = rect.left;
            vm.popupMenuStyle.top = rect.bottom;
          }
        }, 10);
      },
      punctFeedback: function() {
        this.sharedata.punctFeedbackDialogVisible = true;
      },
      showReadModel: function(event) {
        console.log('show'+event.currentTarget.innerHTML.split('>')[1]);
        model = event.currentTarget.innerHTML.split('>')[1];
        this.readModel = model;
        this.showPopReadModel = true;
        // if (this.readModel == "翻页模式"){
        //   this.initTurnPage(event);
        // }
      },
      hideReadModel: function(event) {
        console.log(event.currentTarget.children[0].id);
        if (event.target.type != 'textarea' && event.currentTarget.children[0].id != "book") {
          this.showPopReadModel = false;
        }
      },
      initTurnPage: function(event) {
        var popContainer = document.getElementById("popContainer");
        var book = popContainer.lastElementChild;
        var pages = book.getElementsByTagName("div");
        var pageNumber = 4, rota = -180;
        book.onclick = function () {
            console.log("click");
            book.style.left = "65%";
            pages[pageNumber].style.transform = "rotateY(" + rota + "deg)";
            pageNumber--;
            rota += 10;
            console.log("pageNumber:"+pageNumber);
            if (pageNumber < 0) {
                for (var i = 0; i < pages.length; i++) {
                    pages[i].style.transform = "rotateY(0deg)";
                }
                book.style.left = "50%";
                pageNumber = 4;
                rota = -180;
            }
        }
      },

    }
  });
</script>
{% endblock %}