{% extends "base.html" %}
{% block title %}龙泉藏经{% endblock %}
{% block content %}
<div id="lqtripitaka">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="text-center"><input type="text" class="sutra-searchbox" v-model="searchword" placeholder="搜索经名" /></div>
      </div>
      <div class="sutra-tree">
        <el-tree :data="lqsutra_list" :props="tree_props" @node-click="clickLQSutraTreeNode"></el-tree>
      </div>
      <div class="row">
        <div class="text-center">
          <input type="number" class="sutra-page-input" v-model="page" /> / {{ page_count }}
        </div>
      </div>
    </div>
    <div class="col-md-8 lqtripitaka-text">
      <span v-for="e in merged_text">
        <span is="lqtripitaka-sutra-unit" :data="e" :sharedata="sharedata"></span>
      </span>
    </div>
  </div>
  <div is="judge-result-dialog" :sharedata="sharedata"></div>
</div>
{% endblock %}
{% block foot_script %}
<script src="{{ static('custom/js/lqtripitaka.js') }}"></script>
<script>
  var app = new Vue({
    el: '#lqtripitaka',
    data: {
      lqsutra_list: [],
      searchword: '',
      page_count: 0,
      page: 1,
      tree_props: {
        children: 'lqreel_set',
        label: function(data, node) {
          if (data.reel_no == undefined) {
            return data.name + '(' + data.total_reels + ')';
          } else {
            return '第' + data.reel_no + '卷';
          }
        },
        disabled: function(data, node) {
          if (data.text_ready != undefined) {
            return !data.text_ready;
          }
          return false;
        }
      },
      text: '',
      punct_lst: [],
      diffsegresult_pos_lst: [],
      merged_text: [],
      sharedata: {
        task_id: null,
        judgeResultDialogVisible: false
      }
    },
    watch: {
      searchword: function(value, oldValue) {
        this.fetchSutraList();
      },
      page: function(value, oldValue) {
        if (this.page <= 0) {
          this.page = 1;
          return ;
        }
        if (this.page > this.page_count) {
          this.page = this.page_count;
          return ;
        }
        this.fetchSutraList();
      }
    },
    created: function() {
      this.fetchSutraList();
    },
    methods: {
      fetchSutraList: function() {
        var url = '/api/lqsutra/?page=' + this.page;
        if (this.searchword.length > 0) {
          url += '&search=' + this.searchword;
        }
        var vm = this;
        axios.get(url).then(function(response) {
          vm.lqsutra_list = response.data.results;
          vm.page_count = Math.ceil(response.data.count / 30);
          vm.page = 1;
        });
      },
      clickLQSutraTreeNode: function(data) {
        if (data.reel_no != undefined) {
          var lqreel_id = data.id;
          var url = 'http://api.lqdzj.cn/api/lqreeltext/?lqreel_id=' + lqreel_id;
          var vm = this;
          axios.get(url).then(function(response) {
            vm.sharedata.task_id = response.data.task_id;
            vm.text = response.data.text;
            vm.punct_lst = response.data.punct_lst;
            vm.diffsegresult_pos_lst = response.data.diffsegresult_pos_lst;
            vm.loadSutraText();
          });
        }
      },
      loadSutraText: function() {
        this.merged_text = judge_merge_text_punct(this.text,
        this.diffsegresult_pos_lst, 'diffsegresult_id', this.punct_lst);
      }
    }
  });
</script>
{% endblock %}