{% extends "base.html" %}
{% block title %}实体藏经浏览{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Insert title here</title>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      .col-md-10_col-xs-10 {
        float: left;
        margin-left: 80px;         
      }
      .col-md-9_col-xs-9 {
        float: left;
        margin-left:10px;         
      }
      .dropdown-menu {
        float: left;
        margin-left: 10px;
        height: 200px;
        overflow-y:auto;        
      }
      .sutra-tree {
        float: left;
        width: 300px;
        height: 450px;
      }
      .sutra-image {
        float: left;
        height: 500px;
        margin-top: 0px;
        width: 299px;
        overflow-y:auto;
        overflow-x:hidden；        
      }
      .sutra-text {
        float: left;
        margin-left: 0px;
        height: 500px;
        width: 350px;
        overflow-y:auto;
        overflow-x:hidden；
      }
      .switcher {
        transition: left 0.8s;
      }
      .left {
         left: 0px;
      }
      .right {
        left: 50px;
      }
      
    </style>
  </head>
  
<div id="tripitaka">

  <div class="col-md-3">
    <div class="row" >
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" v-if="cur_tripitaka" href="#">
            ${ cur_tripitaka.name } <span class="caret"></span>
          </a>
          <ul class="dropdown-menu"   id="dropdown-menu">
            <li v-for="item in tripitaka_table" v-on:click="selTripitaka"> <a href="#"> ${ item.name } </a></li>
          </ul>
        </li>    
          <div class="text-center"><input type="text" class="sutra-searchbox" v-model="searchword" placeholder="搜索经名" /></div>
    </div>

    <div class="row">
        <div class="text-center">
          <input type="number" class="sutra-page-input" v-model="sutralistpage" /> / ${ sutra_page_count }
        </div>
    </div>

    <div class="sutra-tree" id="sutra-tree" >
      <el-tree :data="sutra_list" :props="tree_props" :default-expanded-keys='expandlist' node-key="id" @node-click="clickSutraTreeNode"></el-tree>          
    </div>
    
  </div>


  <div class="sutra-image" id="sutra-image" >    
    <el-switch @change="switchchange"    v-model="showCutData"></el-switch>
    <canvas id="page-canvas" width="299" height="499"></canvas>
  </div>

  <div class="sutra-text"  >
    <ul> <li v-for="item in sutra_text_list">${ item }</li> </ul>
  </div>

  <div class="row">
    <div class="col-md-8 col-xs-8">
      <div class="el-pagination">
        <div class="el-pagination__rightwrapper"></div>
        <button type="button" v-on:click="prevPage" class="el-icon el-icon-arrow-left" class="btn-prev" :class="{ disabled: (curreelpage == 1) }">          
        </button>
        <ul class="el-pager"></ul>
        <button type="button" v-on:click="nextPage" class="el-icon el-icon-arrow-right" class="btn-next" :class="{ disabled: (curreelpage == reelpage_count) }">       
        </button>
        <span class="el-pagination__jump">前往
          <div class="el-input el-pagination__editor is-in-pagination">
            <input v-on:input='myinput' v-model="curreelpage" autocomplete="off" type="number" rows="2" min="1" validateevent="true" class="el-input__inner">
          </div>/ ${ reelpage_count }页(卷)</span>
      </div>
    </div>   
  </div>

  <div class="row">
    <div class="col-md-9_col-xs-9" id="col-md-9_col-xs-9" >
      <div class="el-pagination">
        <div class="el-pagination__rightwrapper"></div>
        <button type="button" v-on:click="prevvolume" class="el-icon el-icon-arrow-left" class="btn-prev" :class="{ disabled: (curvolume <= volume_min) }">          
        </button>
        <span class="el-pagination__jump">
          <div class="el-input el-pagination__editor is-in-pagination">
            <input v-on:input='inputvolume' v-model="curvolume" autocomplete="off" type="number" rows="2" min="1" validateevent="true" class="el-input__inner">
          </div>/ ${ volume_count }册</span>
        <ul class="el-pager"></ul>
        <button type="button" v-on:click="nextvolume" class="el-icon el-icon-arrow-right" class="btn-next" :class="{ disabled: (curvolume == volume_count) }">       
        </button>

      </div>
    </div>   

    <div class="col-md-10_col-xs-10" id="col-md-10_col-xs-10" >
      <div class="el-pagination">
        <div class="el-pagination__rightwrapper"></div>
        <button type="button" v-on:click="prevvolumepage" class="el-icon el-icon-arrow-left" class="btn-prev" :class="{ disabled: (curvolumepage <= volumepage_min) }">          
        </button>
        <span class="el-pagination__jump">
          <div class="el-input el-pagination__editor is-in-pagination">
            <input v-on:input='inputvolumepage' v-model="curvolumepage" autocomplete="off" type="number" rows="2" min="1" validateevent="true" class="el-input__inner">
          </div>/ ${ volumepage_count }页(册)</span>
        <ul class="el-pager"></ul>
        <button type="button" v-on:click="nextvolumepage" class="el-icon el-icon-arrow-right" class="btn-next" :class="{ disabled: (curvolumepage == volumepage_count) }">       
        </button>
        
      </div>
    </div> 
    <button type="button" v-on:click="test"  >    
      测试      
    </button> 
  </div>
</div>

{% endblock %}
{% block foot_script %}
<script>
  var app = new Vue({
    el: '#tripitaka',
    delimiters:['${', '}'],
    data: {
     
      reel_page_list: [],
      imageURL :'',
      sutra_text:'',
      sutra_text_list: [''],

      sutra_list: [],      
      tree_props: {
        children: 'reel_set',
        disabled: function(data, node) {
          if (data.ocr_ready != undefined) {
            return !data.ocr_ready;
          }
          return false;
        },
        label: function(data, node) {
          if (data.reel_no == undefined) {
            return data.name + '(' + data.total_reels + ')';
          } else {
            return '第' + data.reel_no + '卷';
          }
        },
      },
      searchword:'',
      sutralistpage:1,//经的翻页
      sutra_page_count:1,//经列表页数
      page_cut_Info_list:[],
      //curReelIndex:0,//当前页经列表选择的卷索引
      curReelNode:null,//记录当前的卷节点

      //藏列表 显示
      cur_tripitaka:null,
      //tripitaka_first:'',
      //tripitaka_first_code:'',
      tripitaka_table:[],
      //tripitaka_list:[],  

      //卷页导航
      reelvolumestartpage:1,//卷的册级别起始页
      reelpage_count:1,
      curreelpage:1,

      //册导航
      volume_count:1,
      curvolume:1,
      volume_min:1,
      
      //册页的导航
      volumepage_count:1,
      curvolumepage:1,
      volumepage_min:1,

      //切分开关
      showCutData: true,

      //展开数组
      expandlist:[],

    },
    watch: {
      searchword: function(value, oldValue) {
        if ( oldValue != value)
        {
          this.sutralistpage = 1;
        }
        this.fetchSutraList();
      },
      sutralistpage: function(value, oldValue) {
        if (this.sutralistpage <= 0) {
          this.sutralistpage = 1;
          return ;
        }
        if (this.sutralistpage > this.sutra_page_count) {
          this.sutralistpage = this.sutra_page_count;
          return ;
        }
        this.fetchSutraList();
      }
    },
    created: function() {
      var vm = this;
        //获得藏 列表
        axios.get('/api/tripitaka/').then(function(response) {
          vm.tripitaka_table = response.data.results;
          if ( vm.tripitaka_table.length>0 ){
            vm.cur_tripitaka=vm.tripitaka_table[0];
            //vm.tripitaka_first=vm.tripitaka_table[0]['name'];
            //vm.tripitaka_first_code=vm.tripitaka_table[0]['code'];
            // for (var i=0;i<vm.tripitaka_table.length;i++)
            //   vm.tripitaka_list.push(vm.tripitaka_table[i]['name']);
          }          
        });
        
        setTimeout(function() {
          vm.fetchSutraList();
        }, 500);
    },
   
    methods: {
      test(){
        //在列表中选择一个卷和当前卷最接近
        console.log ('curvolume',this.curvolume);

        //if (type='nextVolume'){//下一卷
          var minVolume = 65535;
          for(var i=0;i<this.sutra_list.length;i++){
            for (var j=0;j<this.sutra_list[i].reel_set.length;j++)            
              if ( this.curvolume < this.sutra_list[i].reel_set[j].start_vol 
                && minVolume > this.sutra_list[i].reel_set[j].start_vol )
              {//比当前卷大的卷里找一个最小的
                minVolume=this.sutra_list[i].reel_set[j].start_vol;  
              }                
          }//end for
          console.log ('minVolume',minVolume);
        //}
      },
      switchchange (val) {
        var vm = this;
        console.log( vm.showCutData ); 
        this._updatePage();           
      },
      fetchSutraList: function() {
        var vm = this;
        var url = '/api/sutra/?page=' + this.sutralistpage;
        if (this.searchword.length > 0) {
          url += '&search=' + this.searchword;
        }
        //下面注释的不要删除，现在测试数据少，注释为了不对藏过滤。真正用要去掉注释的
        if (vm.cur_tripitaka )
        {
          url += '&tcode=' + vm.cur_tripitaka.code;
        }             
        axios.get(url).then(function(response) {
          //console.log("sutracount:",response.data.count);
          vm.sutra_list = response.data.results;
          vm.sutra_page_count = Math.ceil(response.data.count / 30);//这里的三
          sutracount=vm.sutra_list.length;
          vm.volume_count=1;vm.curvolume=65535;vm.volumepage_count=1;vm.curvolumepage=65535;          
          for (var i=0;i<sutracount;i++)
          {
            reelcount=vm.sutra_list[i].reel_set.length;
            if ( vm.volume_count < vm.sutra_list[i].reel_set[reelcount-1].end_vol)  
              vm.volume_count=vm.sutra_list[i].reel_set[reelcount-1].end_vol;
            if (  vm.curvolume > vm.sutra_list[i].reel_set[0].start_vol &&  vm.sutra_list[i].reel_set[0].start_vol>0 )
              vm.curvolume=vm.sutra_list[i].reel_set[0].start_vol;
            if ( vm.volumepage_count < vm.sutra_list[i].reel_set[reelcount-1].end_vol_page  )
              vm.volumepage_count=vm.sutra_list[i].reel_set[reelcount-1].end_vol_page;
            if ( vm.curvolumepage > vm.sutra_list[i].reel_set[0].start_vol_page  &&  vm.sutra_list[i].reel_set[0].start_vol_page  >0 )  
              vm.curvolumepage=vm.sutra_list[i].reel_set[0].start_vol_page;
          }
          vm.volume_min=vm.curvolume;vm.volumepage_min=vm.curvolumepage;
        });

        //根据藏获得册信息
        // url = '/api/volume/';
        // axios.get(url).then(function(response) {
        //   //vm.volume_count = response.data.results.length;
        // });    
      },
      myinput: function() {
        this.curreelpage=parseInt(this.curreelpage);
        console.log(this.curreelpage);
        this.curvolumepage=this.curreelpage+this.reelvolumestartpage-1;
        this._updatePage();
        return false;
      },
      inputvolume: function() {
        this._updatePage();
        return false;
      },
      inputvolumepage: function() {
        if (  this.curvolumepage >= this.reelvolumestartpage )
        this.curreelpage=this.curvolumepage-this.reelvolumestartpage+1;
        this._updatePage();
        return false;
      },
      prevPage: function() {
        if (this.curreelpage > 1) {
          --this.curreelpage;
          this.curvolumepage=this.curreelpage+this.reelvolumestartpage-1;
        }
        this._updatePage();
        return false;
      },  
      nextPage: function() {
        if (this.curreelpage < this.reelpage_count) {
          ++this.curreelpage;
          this.curvolumepage=this.curreelpage+this.reelvolumestartpage-1;
        }
        this._updatePage();
      }, 

      nextvolume: function() {
        //console.log(this.volume_count);
        if (this.curvolume < this.volume_count) {
          ++this.curvolume;          
        }
        this._updatePage();
      },
      prevvolume: function() {
        if (this.curvolume > this.volume_min) {
          --this.curvolume;
        }
        this._updatePage();
        return false;
      },
      nextvolumepage: function() {  
        //console.log('nextvolumepage',this.volumepage_count);
        
        if (this.curvolumepage < this.volumepage_count) {
          ++this.curvolumepage;
          this.curreelpage=this.curvolumepage-this.reelvolumestartpage+1;

          this._changeReelORSutra('nextpage');
        }
        this._updatePage();
      },
      prevvolumepage: function() {
        if (this.curvolumepage > this.volumepage_min) {
          --this.curvolumepage;
          this.curreelpage=this.curvolumepage-this.reelvolumestartpage+1;  
          this._changeReelORSutra('prepage');
        }
        this._updatePage();
        return false;
      },
        selTripitaka: function(data) {    
        var vm = this;
        for (var i=0;i<vm.tripitaka_table.length;i++){
          //console.log('|', data.target.text,'|', vm.tripitaka_table[i]['name'])
          if ( vm.tripitaka_table[i]['name'] == data.target.text.replace(/(^\s*)|(\s*$)/g, '') )
            {                
              //vm.tripitaka_first_code = vm.tripitaka_table[i]['code'];
              //vm.tripitaka_first = vm.tripitaka_table[i]['name'];
              vm.cur_tripitaka=vm.tripitaka_table[i];
              //console.log('break;');
              break;                    
            }
        }
          
        this.fetchSutraList();              
      },
      _updatePage: function(){
        var vm = this;
        vm.imageURL = vm.reel_page_list[vm.curreelpage-1];
        vm._showSutraPage();
      },
      //根据册、页的翻转反推卷，经的变化
      _changeReelORSutra:function(type){
          //先考虑册页的变化
          //1条件 当前卷页大于 当前卷最大页了。
          console.log(this.curReelNode);
          //if (type =='nextpage' &&  this.curvolumepage-this.reelvolumestartpage+1 > this.reelpage_count )
          if ( type =='nextpage' &&  this.curreelpage > this.reelpage_count )
          {
            //获得下一个卷。
            if ( this.curReelNode !=null && this.curReelNode.nextSibling ){
              this.curReelNode=this.curReelNode.nextSibling; 
              data =this.curReelNode.__vue__._props.node.data;
              this.clickSutraTreeNode(data,null,null);         
            }
          }
          else if (type='prepage' && this.curreelpage ==0 )
          {
            console.log('s', this.curReelNode.previousSibling );
            //前一卷
            if ( this.curReelNode !=null && this.curReelNode.previousSibling ){
              this.curReelNode=this.curReelNode.previousSibling;
              data =this.curReelNode.__vue__._props.node.data;
              this.clickSutraTreeNode(data,null,null);
            }  
          }
      },      
      //鼠标点击的事件，data,s是一个有效的值。如果是自己调用的是undefine      
      clickSutraTreeNode: function(data,n,s) {
        //鼠标点击将记录那个节点
        //this.curReelNode=null;//晴空        
        if (this.curReelNode)
        {
          //a=this.curReelNode.__vue__.getNodeKey();
          console.log('node key',this.curReelNode,this.expandlist);
          if (this.curReelNode.parentNode && this.curReelNode.parentNode.parentNode)
            console.log(this.curReelNode.parentNode.parentNode.__vue__,this.curReelNode.__vue__.expanded);
            this.curReelNode.parentNode.parentNode.__vue__.expanded=true;
        }
        if ( s !=  null )
        {
          for (var i=0;i<s.$parent.$el.childNodes[1].childNodes.length;i++)
          {            
            var myvue=s.$parent.$el.childNodes[1].childNodes[i].__vue__;
            if ( myvue )
            {
              var mynode=myvue._props.node;
              if (mynode   && mynode.data == data ){
                this.curReelNode=s.$parent.$el.childNodes[1].childNodes[i];                
                break;
              }//if
            }//if
          }//for 
        }//if
        
        var vm = this;        
        axios.get('/api/sutra_text/' + data.reel_no + '/').then(function(response) {
        vm.sutra_text = response.data.sutra;
        vm.reel_page_list = response.data.pageurls.split('|');                
        vm.reelpage_count = vm.reel_page_list.length;
        //console.log(response.data.cut_Info_list);
        vm.page_cut_Info_list=response.data.cut_Info_list;
        vm._showSutraText();
        vm.curreelpage = 1 ;        
        vm._updatePage();  
        //console.log(data.end_vol,data.end_vol_page);
        vm.curvolume=data.start_vol;
        vm.curvolumepage=data.start_vol_page;
        vm.reelvolumestartpage=vm.curvolumepage;
         });        
      },
      _showSutraText: function(){
        var vm = this;
        //转化 sutra_text 为  sutra_text_list
        vm.sutra_text_list.splice(0,vm.sutra_text_list.length);
        var nFrom = 0;
        var nFond = vm.sutra_text.indexOf('\n');
        var nNum = 0;
        var str = '';
        while( nFond !=-1 )
        {
            str = vm.sutra_text.substr(nFrom,nFond-nFrom)
            if ( str == 'p')
            {
              nNum += 1;
              str = str+nNum.toString();
            }
            vm.sutra_text_list.push(str);
            nFrom = nFond+1;
            nFond = vm.sutra_text.indexOf('\n',nFrom);
        }
        vm.sutra_text_list.push(vm.sutra_text.substr(nFrom , vm.sutra_text_list.length -1));
    },
    _showSutraPage: function(){
            var canvas = document.getElementById("page-canvas");                          
            var vm = this;
            var context = canvas.getContext("2d");            
            var image = new Image();
            image.onload = function () {              
                var width = 350;
                var height = width / image.width * image.height;                
                //console.log(image.width, image.height, width, height)
                canvas.width = width;
                canvas.height = height;
                // context.clearRect(0, 0, width, height);
                // context.drawImage(image, 0, 0, width, height);
                // var xratio = width / image.width;
                // var yratio = height / image.height;
                
                
                /////////////////////////////////////////////////
                var data = JSON.parse(vm.page_cut_Info_list[vm.curreelpage-1]);
                //console.log(data);
                var sx = 0;
                var sy = 0;
                var sw = canvas.width;
                var sh = canvas.height;
                if ('min_x' in data) {
                    sx = data['min_x'] - 100;
                    sy = data['min_y'] - 100;
                    sw = data['max_x'] + 100 - sx;
                    sh = data['max_y'] + 100 - sy;
                    if (data['min_y'] < data['max_y'] * 2 / 3) {
                        if (sy > 200) {
                            sy = 100;
                        }
                        sh = data['max_y'] + 100 - sy;
                    }
                }
                //canvas.width = canvas.width;
                canvas.height = canvas.width / sw * sh;
                //console.log(canvas.width, canvas.height)
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(image, sx, sy, sw, sh, 0, 0, canvas.width, canvas.height);
                if ( vm.showCutData )
                {  
                  var xratio = canvas.width / sw;
                  var yratio = canvas.height / sh;
                  $.each(data['char_data'], function(k, v){
                      var line_no = v['line_no'];
                      var char_no = v['char_no'];
                      var color = "#F5270B";
                      var x = v['x'] - sx;
                      var y = v['y'] - sy;
                      var w = v['w'];
                      var h = v['h'];
                      x = parseInt(x * xratio);
                      y = parseInt(y * yratio);
                      w = parseInt(w * xratio);
                      h = parseInt(h * yratio);

                      var to_draw = false;
                      
                      if ('added' in v) {
                          context.font = "10px SimSun";
                          context.fillText(v['ch'], x+w, y + h/2);

                          //设置样式
                          context.lineWidth = 1;
                          context.strokeStyle = color;
                          context.stroke();
                          color = 'ForestGreen';
                          to_draw = true;
                      } else if ('old_char' in v) {
                          color = 'blue';
                          to_draw = true;
                      } else {                         
                          to_draw = true;                        
                      }
                      
                      color = '#ff00ff';
                      
                      if (to_draw) {
                          context.beginPath();
                          context.moveTo(x, y);
                          context.lineTo(x + w, y);
                          context.lineTo(x + w, y + h);
                          context.lineTo(x, y + h);
                          context.lineTo(x, y);
                          //设置样式
                          context.lineWidth = 1;
                          context.strokeStyle = color;
                          context.stroke();
                      }
                  });            
                  /////////////////////////////////////////////////   
                }
                            
              };
              image.src = vm.imageURL;
      },

      _isRealNum:function(val){
        // isNaN()函数 把空串 空格 以及NUll 按照0来处理 所以先去除
        if(val === "" || val ==null){
            return false;
        }
        if(!isNaN(val)){
            return true;
        }else{
            return false;
        }
      },
      
    },
    
  });
</script>
{% endblock %}