{% extends "base.html" %}
{% block title %}藏经版本浏览{% endblock %}
{% block content %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Insert title here</title>

    <style>

    </style>
  </head>

  <div id="volume">
    <el-row>
      <el-col :span="32">
        <div class="tpd-left-content">
          <div style="float:left; padding:10; border:1px solid; margin:10px" v-for="item in items">
            <a :href="item.url" target="_blank">
              <img class="lazy" :src="item.image" width="220" height="300"
                   data-src="item.image" onerror="javascript:this.src='https://s3.cn-north-1.amazonaws.com.cn/lqdzj-images/cover/nocover.png'">
              <div class="caption" align="center">
                <h3>
                  <span :title="item.name">${ item.name }<br></span>
                </h3>
              </div>
            </a>
          </div>
        </div>
      </el-col>

    </el-row>
  </div>
{% endblock %}
{% block foot_script %}
  <script>

    var app = new Vue({
      el: '#volume',
      delimiters: ['${', '}'],
      data: {
        to_rul: "",
        items: [],
      },
      watch: {},
      created: function () {
        var vm = this;
        axios.get('/api/coverlist/').then(function (response) {
          vm.items = response.data;
        });
      },
      methods: {
        goto(code){
          this.to_url = '/tripitaka/' + code + '/';
        }
      }
    });
  </script>
{% endblock %}
