<div class="btn-group layout-btns" style="margin-right: 10px;">
    <button class="btn btn-primary btn-sm" onclick="showDialog()"><span>导入实体藏</span></button>
    <!--<input type='file' name='excel_file' onchange="onSelectedFile()" class="btn btn-default btn-sm"-->
    <!--style="display: none" id="input_excel_file"/>-->
    <!--<div class="row">-->
    <!---->
    <!--</div>-->
</div>
<!--<div class="btn-group layout-btns" style="margin-right: 10px;">-->
<!--<button class="btn btn-default btn-sm" id="btn_submit" onclick="uploadExcel()"><span>导入</span></button>-->
<!--</div>-->

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal_upload_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">导入实体藏数据</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <button class="btn btn-primary btn-sm col-md-4" onclick="onBrowseFS()"><span>选择Excel文件</span></button>
                    <!--<button class="btn btn-md-3 btn-danger" id="btn_status" style="display: none;">正在导入...</button>-->
                    <input type='file' name='excel_file' onchange="onSelectedFile()" class="btn btn-default btn-sm"
                       style="display: none" id="input_excel_file"/>
                </div>
                <div class="row">
                    <div class="loader" id="btn_status" style="display: none;"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <span class="col-md-6" id="span_file_name" style="color: green;"></span>
                </div>

                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-4"></div>
                    <a class="btn btn-sm btn-default" id="btn_result_file" style="display: none;" target="_blank">点击查看导入结果</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--<link href="/static/custom/css/creative_animated_loading.css" type="text/css" media="screen" rel="stylesheet">-->
<link href="/static/custom/css/square_loading.css" type="text/css" media="screen" rel="stylesheet">

<script>
    function showDialog() {
        $("#modal_upload_dialog").modal('toggle');
    }

    function onBrowseFS() {
        $("#input_excel_file").click();
    }

    function onSelectedFile() {
        var fileFullPath = $("#input_excel_file")[0].value;
        var filename = fileFullPath.replace(/^.*[\\\/]/, '');
        // var path_array=$("#input_excel_file")[0].value.split("/");
        // console.log(path_array);
        $("#span_file_name")[0].textContent = "已选："+fileFullPath;
        // $("#span_file_name").css("color","red");
        uploadExcel();
    }


    function uploadExcel() {
        var formData = new FormData();
        formData.append('excel_file', $('#input_excel_file')[0].files[0]);
        $("#btn_status").show();
        $.ajax({
            url: "/xadmin-api/import_{{modelName}}_from_excel",
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (res) {
            $("#btn_status").hide();

            // $("#div_response")[0].textContent = JSON.stringify(res, null, 2);
            //
            $("#btn_result_file")[0].href = '/static/' + res.result_file_name;
            $("#btn_result_file").show();
            // window.open('/static/' + res.result_file_name, '_blank');
            // window.location.reload(true);
        }).fail(function (res) {
            console.log(res);
            $("#btn_status").hide();
        });

    }
</script>
