<!--<div class="btn-group layout-btns" id="btn_import_data">-->
    <!--<input type="file" id="file" class="btn btn-default btn-sm layout-full">-->
    <!--&lt;!&ndash;<button type="file" class="btn btn-default btn-sm layout-full">导入</button>&ndash;&gt;-->
<!--</div>-->
<div class="btn-group layout-btns" id="div_import_data">
<el-upload
          ref="upload"
          class="upload"
          :action="uploadUrl()"
          :on-success="handleSuccess"
          :limit=1
          multiple
          method:="post"
          :on-preview="handlePreview"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.csv,text/plain"
          :file-list="fileList">
          <el-button size="small" type="primary" plain>选取文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传</el-button>

</el-upload>
</div>

<script>
$(function () {
    new Vue({
    el:"#div_import_data",
    data(){
		return {
			fileList:[]
		}
	},

    methods:{
         uploadUrl(){
            return '/api/import_tripitaka_from_excel';
        },
         handleSuccess(){
            //上传成功要处理的事
            console.log("handleSuccess");
        },
         handlePreview(){
            //上传前要处理的事
            console.log('handlePreview')
        }
    }
})
});
</script>
